<%- include('../partials/header'); %>

    <body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-chartbg" data-col="2-columns">
        <%- include('../partials/nav'); %>
            <%- include('../partials/left'); %>

            <script>
                $(document).ready(function() {
                    $(".addNewPop").click(function() {
                          $("#ctype").val('L');
                          $("#ctypename").html('Leave');
                        $("body").toggleClass("showHide");
                    });
                    $(".addNewPop2").click(function() {
                        $("#ctype").val('D');
                        $("#ctypename").html('Department');
                        $("body").toggleClass("showHide");
                    });
                    $(".addNewPop3").click(function() {
                        $("#ctype").val('B');
                        $("#ctypename").html('Break');
                        $("body").toggleClass("showHide");
                    });
                    $(".addNewPop4").click(function() {
                        $("#ctype").val('TP');
                        $("#ctypename").html('Task Priority');
                        $("body").toggleClass("showHide");
                    });
                });
            </script>
        
            <script>
                $(document).ready(function() {
                    $(".removeClass").click(function() {
                        $("body").removeClass("showHide");
                    });
                });
            </script>
    <!-- Leave Type -->
    <div class="addPopup" role="alert">
        <div class="popContent">
            <div class="d-flex position-relative justify-content-between align-items-center border-bottom p-1">
                <h5 class="m-0">Add <span id="ctypename"></span> Type</h5>
                <a href="#" class="removeClass"><i class="la la-close"></i></a>
            </div>
            <div class="p-1">
                <form action="/companysettings" method="post" class="form  needs-validation" novalidate>
                    <input type="hidden" id="ctype" value="" name="type">
                    <label class="mb-1">Name</label>
                    <input type="text"  name="name" placeholder="Enter Name" class="form-control mb-1" required>

                    <button class="removeClass">Close</button>
                    <input type="submit" value="Save" />
                </form>
            </div>
        </div>
    </div>

    <!-- Leave Type -->
    <div class="settingModal">
        <div class="modal fade" id="leaveModal" tabindex="-1" role="dialog" aria-labelledby="leaveModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-header align-items-center">
                        <h5 class="modal-title flex-fill" id="leaveModalLabel">Leave Type</h5>
                       
                        <ul class="d-flex topInputs">
                            <li class="mr-1">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="la la-calendar-o"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Type to Search" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </li>
                            <li>
                                <a href="#" class="downloadButton btn-success text-white addNewPop">Add New Leave</a>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table id="zero_config" class="table table-striped table-bordered no-wrap">
                                <thead>
                                    <tr>
                                        <th style="width: 18vw;">Name </th>
                                        <th style="width: 18vw;">Icon</th>
                                        <th style="width: 18vw;">Date</th>
                                        <th style="width: 6vw;">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%  if(csettings.data.length > 0){
   
                                        for(var i=0; i < csettings.data.length; i++) {
                                            if(csettings.data[i].type=="L"){ %> 

                                                <tr>
                                            <td><%= csettings.data[i].name; %></td>
                                            <td>--</td>
                                            <td> <%  var str=csettings.data[i]['createdAt']; %>
                                                <%= moment(str).format('DD-MM-YYYY') %>  %></td>
<td> <% if(csettings.data[i].status=="Y"){  %> <a href="#" class="btn btn-outline-success">Active</a> <% } %></td>  </tr>
                                            <% } } }else{ %>
                                                <tr>
                                                <td class="text-center" colspan="4" style="color:red; ">
                                                   No Listed Yet
                                                 </td>
                                                </tr>
                                                <% }  %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="departmentsModal" tabindex="-1" role="dialog" aria-labelledby="departmentsModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-header align-items-center">
                        <h5 class="modal-title flex-fill" id="departmentsModalLabel">Departments</h5>
                       
                        <ul class="d-flex topInputs">
                            <li class="mr-1">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="la la-calendar-o"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Type to Search" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </li>
                            <li>
                                <a href="#" class="downloadButton btn-success text-white addNewPop2">Add New Department</a>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table id="zero_config" class="table table-striped table-bordered no-wrap">
                                <thead>
                                    <tr>
                                        <th style="width: 18vw;">Name </th>
                                        <th style="width: 18vw;">Icon</th>
                                        <th style="width: 18vw;">Date</th>
                                        <th style="width: 6vw;">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%  if(csettings.data.length > 0){
   
                                        for(var i=0; i < csettings.data.length; i++) {
                                            if(csettings.data[i].type=="D"){ %> 

                                                <tr>
                                            <td><%= csettings.data[i].name; %></td>
                                            <td>--</td>
                                            <td> <%  var str=csettings.data[i]['createdAt']; %>
                                                <%= moment(str).format('DD-MM-YYYY') %>  %></td>
<td> <% if(csettings.data[i].status=="Y"){  %> <a href="#" class="btn btn-outline-success">Active</a> <% } %></td> </tr>
                                            <% } } }else{ %>
                                                <tr>
                                                <td class="text-center" colspan="4" style="color:red; ">
                                                   No Listed Yet
                                                 </td>
                                                </tr>
                                                <% }  %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="breakModal" tabindex="-1" role="dialog" aria-labelledby="breakModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-header align-items-center">
                        <h5 class="modal-title flex-fill" id="breakModalLabel">Breaks</h5>
                       
                        <ul class="d-flex topInputs">
                            <li class="mr-1">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="la la-calendar-o"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Type to Search" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </li>
                            <li>
                                <a href="#" class="downloadButton btn-success text-white addNewPop3">Add New Break</a>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table id="zero_config" class="table table-striped table-bordered no-wrap">
                                <thead>
                                    <tr>
                                        <th style="width: 18vw;">Name </th>
                                        <th style="width: 18vw;">Icon</th>
                                        <th style="width: 18vw;">Date</th>
                                        <th style="width: 6vw;">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%  if(csettings.data.length > 0){
   
                                        for(var i=0; i < csettings.data.length; i++) {
                                            if(csettings.data[i].type=="B"){ %> 

                                                <tr>
                                            <td><%= csettings.data[i].name; %></td>
                                            <td>--</td>
                                            <td> <%  var str=csettings.data[i]['createdAt']; %>
                                                <%= moment(str).format('DD-MM-YYYY') %>  %></td>
<td> <% if(csettings.data[i].status=="Y"){  %> <a href="#" class="btn btn-outline-success">Active</a> <% } %></td> </tr>
                                            <% } } }else{ %>
                                                <tr>
                                                <td class="text-center" colspan="4" style="color:red; ">
                                                   No Listed Yet
                                                 </td>
                                                </tr>
                                                <% }  %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-header align-items-center">
                        <h5 class="modal-title flex-fill" id="taskModalLabel">Task Priority</h5>
                       
                        <ul class="d-flex topInputs">
                            <li class="mr-1">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="la la-calendar-o"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Type to Search" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </li>
                            <li>

         <a href="#" class="downloadButton btn-success text-white addNewPop4">Add New Task Priority</a>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table id="zero_config" class="table table-striped table-bordered no-wrap">
                                <thead>
                                    <tr>
                                        <th style="width: 18vw;">Name </th>
                                        <th style="width: 18vw;">Icon</th>
                                        <th style="width: 18vw;">Date</th>
                                        <th style="width: 6vw;">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%  if(csettings.data.length > 0){
   
                                        for(var i=0; i < csettings.data.length; i++) {
                                            if(csettings.data[i].type=="TP"){ %> 

                                          <tr>
                                            <td><%= csettings.data[i].name; %></td>
                                            <td>--</td>
                                            <td> <%  var str=csettings.data[i]['createdAt']; %>
                                                <%= moment(str).format('DD-MM-YYYY') %>  %></td>
<td> <% if(csettings.data[i].status=="Y"){  %> <a href="#" class="btn btn-outline-success">Active</a> <% } %></td></tr>
                                            <% } } }else{ %>
                                                <tr>
                                                <td class="text-center" colspan="4" style="color:red; ">
                                                   No Listed Yet
                                                 </td>
                                                </tr>
                                                <% }  %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

             
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <div class="blocks userDetails">
                    <div class="userIcon">
                        <img src="/assets/images/ic_settings.png" class="img-fluid" alt="ic_settings" />
                    </div>
                    <div class="details">
                        <h4 class="m-0">Settings</h4>
                        <p class="m-0">View Key Indicators At-A-Glance.</p>
                    </div>
                </div>

                <div class="blocks settingContainers mb-0">
                    <div class="row no-gutters">
                        <div class="col-md-4 col-sm-6">
                            <a href="#" class="d-flex align-items-center settingTiles" data-toggle="modal" data-target="#leaveModal">
                                <img src="/assets/images/ic_leave.png" class="img-fluid" />
                                <div class="flex-fill">
                                    <p><b>Leave Type</b></p>
                                    <p>Define Custom Leave Types Suitable For your Organization</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a href="#" class="d-flex align-items-center settingTiles" data-toggle="modal" data-target="#departmentsModal">
                                <img src="/assets/images/ic_department.png" class="img-fluid" />
                                <div class="flex-fill">
                                    <p><b>Departments</b></p>
                                    <p>Define Custom Leave Types Suitable For your Organization</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a href="#" class="d-flex align-items-center settingTiles" data-toggle="modal" data-target="#breakModal">
                                <img src="/assets/images/ic_breaks.png" class="img-fluid" />
                                <div class="flex-fill">
                                    <p><b>Breaks</b></p>
                                    <p>Define Custom Leave Types Suitable For your Organization</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a href="#" class="d-flex align-items-center settingTiles" data-toggle="modal" data-target="#taskModal">
                                <img src="/assets/images/ic_task_priority.png" class="img-fluid" />
                                <div class="flex-fill">
                                    <p><b>Task Priority</b></p>
                                    <p>Define Custom Leave Types Suitable For your Organization</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->




                <%- include('../partials/footer'); %>