<%- include('../partials/header'); %>

    <body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-chartbg" data-col="2-columns">
        <%- include('../partials/nav'); %>
            <%- include('../partials/left'); %>


            
    <!-- Change Password Popup Start -->
    <div class="modal fade" id="addRemoveUserModal" tabindex="-1" role="dialog" aria-labelledby="addRemoveUserModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addRemoveUserModalLabel">Add / Remove User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <label class="mb-1">Assign To User</label>
                        <select class="form-control mb-2">
                            <option>User 1</option>
                            <option>User 2</option>
                            <option>User 3</option>
                            <option>User 4</option>
                            <option>User 5</option>
                            <option>User 6</option>
                        </select>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary border-0" style="background:#ed4724 !important;">Update</button>
                    </form>
                </div>


              
            </div>
        </div>
    </div>
    <!-- Change Password Popup End -->


    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
                        <script>
    
    $(function () {
    var currentDate = moment().format("DD-MM-YYYY");
    
    $(".date").daterangepicker(
      {
        locale: {
          format: "DD-MM-YYYY"
        },
        alwaysShowCalendars: true,
        minDate: moment().subtract("months", 1),
        maxDate: currentDate,
        autoApply: true,
        autoUpdateInput: true,
        autoclose: true
      },
      function (start, end, label) {
        $('.daterangepicker').show();
        // console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
        // Lets update the fields manually this event fires on selection of range
        var selectedStartDate = start.format("DD-MM-YYYY"); // selected start
        var selectedEndDate = end.format("DD-MM-YYYY"); // selected end
    
    
        var selectedStartDater = start.format("YYYY-MM-DD HH:mm:ss"); // selected start
        var selectedEndDater = end.format("YYYY-MM-DD HH:mm:ss");
    
    
        $checkinInput = $("#search_checkin");
        $checkoutInput = $("#search_checkout");
        $checkoutInputselected = $("#allselecteddate");
     
        // Updating Fields with selected dates
        $checkinInput.val(selectedStartDater);
        $checkoutInput.val(selectedEndDater);
        $checkoutInputselected.val(selectedStartDate + ' - ' + selectedEndDate);
        $('.daterangepicker').hide();
        // Setting the Selection of dates on calender on CHECKOUT FIELD (To get this it must be binded by Ids not Calss)
       
      });
    });
    
    
    
    </script>

    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body snapContainer">
                <div class="blocks userDetails">
                    <div class="userIcon">
                        <img src="/assets/images/ic_screenshot.png" class="img-fluid" />
                    </div>
                    <div class="details">
                        <h4 class="m-0">Snapshots</h4>
                        <p class="m-0">Here You Can Manage Profiles, Change Password or Even Add New User To Your Organization</p>
                    </div>
                    <ul class="d-flex topInputs">
                        <form action="/getsnapshot"  method="post" class="form-horizontal">
                 <input type="hidden" name="id" value="<%= uid; %>">
                            <li class="mr-1">
                                <div class="input-group">
                                   
                                    <% 
                                   
                                    var selectr= moment(startdates).format("DD-MM-YYYY");
                                    var selectrs= moment(enddates).format("DD-MM-YYYY");

                                    var selectr2= moment(startdates).format("YYYY-MM-DD HH:mm:ss");
                                    var selectrs2= moment(enddates).format("YYYY-MM-DD HH:mm:ss");
                                      %>
                     <input type="text"  required class="form-control date" placeholder="<%= selectr %> - <%= selectrs %>" value="<%= selectr; %> - <%= selectrs; %>"  aria-label="Username" id="allselecteddate" aria-describedby="basic-addon1">
                   <input type="hidden" id="search_checkin" name="startdate" class="form-control"  value="<%= selectr2; %>"  placeholder="Use this hidden">
                   <input type="hidden" id="search_checkout" name="enddate" class="form-control"  value="<%= selectrs2; %>"  placeholder="Use this hidden"> <div class="input-group-prepend">
                    <input class="input-group-text la la-search" onclick="spinner()" type="submit" id="button-addon2">
                </div>
                                </div>
                            </li>
                            
                          </form>
                    </ul>
                </div>

                <div class="blocks tabContainers mb-0">
                    <div class="d-flex align-items-start">
                        <div class="userProfilez snapShotLeft">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-0" id="basic-addon1">
                                        <i class="la la-search"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control rounded-0" id="search" placeholder="Enter Text to Search" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <h4>Employee</h4>
<script>
$( function() {

    $( '#search' ).keyup( function() {
   
   var searchString = $(this).val();

   $("ul.ssUserList li").each(function(index, value) {
       
       currentName = $(value).text()
       if( currentName.toUpperCase().indexOf(searchString.toUpperCase()) > -1) {
          $(value).show();
       } else {
           $(value).hide();
       }
       
   });
   
});


});

</script>
                            <ul class="ssUserList">
                                <%  if(user.user.length > 0){
   
                                    for(var i=0; i < user.user.length; i++) { 
                                        var userstring = user.user[i].split('_'); 
                                        var srr=userstring[1].split(' '); 

                                        var res = srr[0].substring(0, 1); var nres = srr[1].substring(0, 1);  %> 
            <li onclick="return spinner();" <% if(userstring[0]==uid){ %> style="background-color: lightsteelblue;" <% } %> ><a href="<%= process.env.APP_URL %>/snapshot/<%= userstring[0] %>"><span class="firstName bg-dark"><%=res %><%=nres %></span>  <%= userstring[1]; %></a></li>
                               <% } } %>
                            </ul>
                        </div>
                        <div id="style-3" class="snaps scrollbar">
                            <div class="force-overflow">
                               

<%  var arrt=[];
for (let i = 0; i < user.timesarr.length; i++) {
   var string = user.timesarr[i].split('-');
   if(user.snapshotdata.length > 0){
       var s=1; 
       for(var s=0; s < user.snapshotdata.length; s++) {


if(string[0]==user.snapshotdata[s][0].starttime){

   arrt[i]=user.snapshotdata[s][0];
}
       }
   }
}



if(arrt.length > 0){
    var s=1; 
    for(var i=0; i < arrt.length; i++) {
        if(arrt[i].image.length >0){  
        
       var d= i; %>
      
                                     <div class="snapHourly">
                        <p class="snapTime"><%= (arrt[i].starttime); %></p>
                                        <div class="demo-gallery">

                    <ul class="list-unstyled row">
                   
                   <%  for(var j=0; j < arrt[i].image.length; j++) { 

                    var color="";
                       if(arrt[i].image[j].productivityCount >0 &&  arrt[i].image[j].productivityCount <= 25){
                        var color="background-color: red !important;";
                       }else if(arrt[i].image[j].productivityCount >25 &&  arrt[i].image[j].productivityCount <= 50){
                        var color="background-color: orange !important;";
                    }else if(arrt[i].image[j].productivityCount >50 &&  arrt[i].image[j].productivityCount <= 75){
                        var color="background-color: blue !important;";
                    }else if(arrt[i].image[j].productivityCount >75 &&  arrt[i].image[j].productivityCount <= 100){
                        var color="background-color: #579239 !important;";
                    }
                       
                       %>

                     <li class="col-md-3 mb-2" >
                      <a class="tagimga" href="javascript:void(0)" data-target="#<%= d; %>" data-toggle="modal">
                       
                    <span class="tagimg"><%=  moment(arrt[i].image[j].date).format('H:mm a'); %></span> <img src="<%= arrt[i].image[j].snap; %>" class="img-fluid" alt="Thumb-1">
                     <div class="progress" style="height:.5rem">
                        <div class="progress-bar" role="progressbar" style="<%= color; %>;width: <%= arrt[i].image[j].productivityCount; %>%" aria-valuenow="<%= arrt[i].image[j].productivityCount; %>" aria-valuemin="0" aria-valuemax="100"></div>
                        
                    </div> </a>
                                                </li>
<% }  %>


</ul>
    <!-- SS Modal Start -->
    <div class="modal fade bd-example-modal-lg ssModalPopup " id="<%= d; %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div class="owl-carousel owl-theme owl-loaded popupCarousel">
                    <div class="owl-stage-outer">
                        <div class="owl-stage">
       <%  for(var j=0; j < arrt[i].image.length; j++) {  %>
                    <div class="owl-item">
                                <div class="modal-header">
        <h5 class="modal-title" id="ssModalLabel">Preview - <%= user.data.firstname; %> <%= user.data.lastname; %> - <%= moment(arrt[i].image[j].date).format('DD-MM-YYYY'); %> |
                                        <a href="#"><img src="/assets/images/ic_lock.png" alt="" class="img-fluid" /></a>
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="ssPart">
                                                <img src="<%= arrt[i].image[j].snap; %>" alt="img" class="img-fluid" />
                                            </div>

                                            <div class="ssActivity">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <h4>Activity Detail</h4>
                                                    <p>Activity Level <span style="color:#ed4724;"> <% var sss= arrt[i].image[j].productivityCount;%> <%= sss %> %</span></p>
                                                    <% var ssss= "width:"+arrt[i].image[j].productivityCount+"%"; %>
                                                </div>
                                                <div class="progress m-0 mt-1">
                                                    <div class="progress-bar" role="progressbar" style="<%= ssss; %>" aria-valuenow="<%= arrt[i].image[j].productivityCount;%>" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>

                                                <div class="d-flex activities">
                                                    <div class="activityTile">
                                                        <span>Duration</span>
             <%  if(arrt[i].image[j].duration){ 
                    var dtotalproductinfos = Number(arrt[i].image[j].duration);
                    var dtotalproductinfos= Math.floor(dtotalproductinfos / 1000);
                    var htotalproductinfos = Math.floor(dtotalproductinfos / 3600);
                    var mtotalproductinfos = Math.floor(dtotalproductinfos % 3600 / 60);
                                                        
                var stotalproductinfos =Math.floor(dtotalproductinfos % 3600 % 60);                                                                           
                  var totalproductinfoDisplayss = htotalproductinfos > 0 ? (htotalproductinfos > 9 ? htotalproductinfos : "0"+htotalproductinfos) + (htotalproductinfos == 1 ? "" : "") : "00";
                 var mtotalproductinfoDisplayss = mtotalproductinfos > 0 ? (mtotalproductinfos > 9 ? mtotalproductinfos : "0"+mtotalproductinfos) + (mtotalproductinfos == 1 ? "" : "") : "00";
                  var stotalproductinfoDisplayss = stotalproductinfos > 0 ? (stotalproductinfos > 9 ? stotalproductinfos : "0"+stotalproductinfos) + (stotalproductinfos == 1 ? "" : "") : "00";
                          }else{
                            var totalproductinfoDisplayss = "00";
                            var mtotalproductinfoDisplayss = "00";
                            var stotalproductinfoDisplayss = "00";

                          }  %>           
                                      <%= totalproductinfoDisplayss+':'+mtotalproductinfoDisplayss+':'+stotalproductinfoDisplayss; %>
                                                    </div>
                                                    <div class="activityTile">
                                                        <span>Key Press</span> <%= arrt[i].image[j].keypress;%>
                                                    </div>
                                                    <div class="activityTile">
                                                        <span>Mouse Click</span> <%= arrt[i].image[j].totalMouseclick;%>
                                                    </div>
                                                    <div class="activityTile">
                                                        <span>Mouse Move</span> <%= arrt[i].image[j].totalMouseMovement;%>
                                                    </div>
                                                    <div class="activityTile">
                                                        <span>Activity</span> --
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-5">
                                            <ul class="ssSoft">
                                                <li class="ulHeading">
                                                    <h4>Application Uses</h4>
                                                </li>

                <% var ssss=arrt[i].image[j].applist;
                  var utestapplist = JSON.parse(ssss);
                //  console.log(utestapplist);
                if(utestapplist.length > 0){
               %>  <% for(var s=0; s < utestapplist.length; s++) { 
                         %>
                                                <li class="d-flex align-items-center">
                                                    <img src="/assets/images/ic_chrome.png" alt="logo" class="img-fluid " />
                                                    <div class="ssSoftDetail">
                                                <p>
                                                    <% var appli=utestapplist[s].windowClass.split("."); %>
                                                    <%= appli[0].toUpperCase(); %></p>
                                        <p><%= utestapplist[s].windowName; %></p>                            
                 
                             <p><%   var  dproductivitytimecnt = Number(utestapplist[s].count);
                                  var hproductivitytimecnt = Math.floor(dproductivitytimecnt / 3600);
                                  var mproductivitytimecnt = Math.floor(dproductivitytimecnt % 3600 / 60);
                                  var sproductivitytimecnt = Math.floor(dproductivitytimecnt % 3600 % 60);
                                  var productivitytimeDisplaycnt = hproductivitytimecnt > 0 ? (hproductivitytimecnt > 9 ? hproductivitytimecnt : "0"+hproductivitytimecnt) + (hproductivitytimecnt == 1 ? "" : "") : "00";
                                  var mproductivitytimeDisplaycnt = mproductivitytimecnt > 0 ? (mproductivitytimecnt > 9 ? mproductivitytimecnt : "0"+mproductivitytimecnt) + (mproductivitytimecnt == 1 ? "" : "") : "00";
                                   var sproductivitytimeDisplaycnt = sproductivitytimecnt > 0 ? (sproductivitytimecnt > 9 ? sproductivitytimecnt : "0"+sproductivitytimecnt) + (sproductivitytimecnt == 1 ? "" : "") : "00";
                                 var cdurationtimecnt=productivitytimeDisplaycnt+':'+mproductivitytimeDisplaycnt+':'+sproductivitytimeDisplaycnt;
                                               %>
                                   Duration : <%= cdurationtimecnt; %> mm:ss</p>
                                                            
                                                           
                                                    </div>
                                                </li>
                                        <% } } %>        
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                          <% } %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SS Modal End -->
</div></div>
 <% } } } %>



 <div class="snapHourly">
    <% var selectr= moment(startdates).format("X");
    var selectrmon= moment(enddates).format("X");
    
    
    var duat=Number(user.duration)+Number(1);%>
    <p ><a onclick="spinner()"  href="<%= process.env.APP_URL %>/snapshotmore/<%= uid;%>/<%= duat;%>/<%= selectr;%>/<%= selectrmon;%>" id="loadMore" style="font-size: 15px !important;
        padding: 3px 10px;
        border-radius: 10px;" class="btn-primary">Load More</a></p>
                    <div class="demo-gallery">

<ul class="list-unstyled row"><li></li>
    </ul></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->




                <%- include('../partials/footer'); %>