<%- include('../partials/header'); %>
<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-chartbg" data-col="2-columns">
        <%- include('../partials/nav'); %>
        <%- include('../partials/left'); %>
    
        <script src="/theme-assets/js/jquery.avatarme-1.0.min.js"></script>
        <link rel="stylesheet" href="/theme-assets/css/avatar.css">

        <script>
            jQuery(function($){
              var $userName = $('.user-name');
              if ($userName.length) {
                $userName.avatarMe({
                  className: 'avatar-me',
                  maxChar: 1
                });
              }
            });

            
            </script>
        <script type="text/javascript" src="/theme-assets/js/jquery.formatCurrency-1.4.0.min.js"></script>
        <script> $(function () {
          $(".currency").blur(function () {
            $(".currency").html(null), $(this).formatCurrency({
              colorize: !0,
              symbol: "",
              negativeFormat: "-%s%n",
              roundToDecimalPlace: -1
            })
          }).keyup(function (e) {
            var e = window.event || e,
              a = e.charCode || e.keyCode;
            if (110 != a && 229 != a && 190 != a && 46 != a && 45 != a && a > 31 && (96 > a || a > 105) && (48 > a || a > 57) && $(".currency").val(""), void 0 !== e) switch (a) {
              case 16:
                break;
              case 17:
                break;
              case 18:
                break;
              case 27:
                this.value = "";
                break;
              case 35:
                break;
              case 36:
                break;
              case 37:
                break;
              case 38:
                break;
              case 39:
                break;
              case 40:
                break;
              case 78:
                break;
              case 110:
                break;
              case 190:
                break;
              default:
                $(this).formatCurrency({
                  colorize: !0,
                  negativeFormat: "-%s%n",
                  roundToDecimalPlace: -1,
                  eventOnDecimalsEntered: !1
                })
            }
          }).bind("decimalsEntered", function (e, a) {
            var t = "Please do not enter any cents (0." + a + ")";
            alert(t), log("Event on decimals entered:" + t)
          });
        });
        </script>
       

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <div class="blocks userDetails">
                <div class="userIcon"><% var srr=user.data.firstname; 
                     var snerr=user.data.lastname; 
                     var res = srr.substring(0, 1); var nres = snerr.substring(0, 1);  %> <%=res %> <%=nres %></div>
                <div class="details">
                    <h4 class="m-0">Employee Details : <%= user.data.firstname; %> <%= user.data.lastname; %> (Role : <b><%= user.data.role['name']; %></b>)</h4>
                    <p class="m-0">Here You Can Manage Profiles, Change Password or Even Add New User To Your Organization</p>
                    <% if (locals.messages) { %>
                        <div class="alert alert__success " style="color:red; ">
                            <%= messages.error %>
                        </div>
                        <% } %>
                </div>

                   
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
                        <script>
    
    $(function () {
    var currentDate = moment().format("DD-MM-YYYY");
    
    $(".date").daterangepicker(
      {
        locale: {
          format: "DD-MM-YYYY"
        },
        alwaysShowCalendars: true,
        minDate: moment().subtract("months", 1),
        maxDate: currentDate,
        autoApply: true,
        autoUpdateInput: true,
        autoclose: true
      },
      function (start, end, label) {
        $('.daterangepicker').show();
        // console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
        // Lets update the fields manually this event fires on selection of range
        var selectedStartDate = start.format("DD-MM-YYYY"); // selected start
        var selectedEndDate = end.format("DD-MM-YYYY"); // selected end
    
    
        var selectedStartDater = start.format("YYYY-MM-DD HH:mm:ss"); // selected start
        var selectedEndDater = end.format("YYYY-MM-DD HH:mm:ss");
    
    
        $checkinInput = $("#search_checkin");
        $checkoutInput = $("#search_checkout");
        $checkoutInputselected = $("#allselecteddate");
     
        // Updating Fields with selected dates
        $checkinInput.val(selectedStartDater);
        $checkoutInput.val(selectedEndDater);
        $checkoutInputselected.val(selectedStartDate + ' - ' + selectedEndDate);
        $('.daterangepicker').hide();
        // Setting the Selection of dates on calender on CHECKOUT FIELD (To get this it must be binded by Ids not Calss)
       
      });
    });
    
    
    
    </script>
                <ul class="d-flex topInputs">
                   
                    <form action="/getviewdetail"  method="post" class="form-horizontal">
                        <input type="hidden" name="id" value="<%= uid; %>">
                    <li class="mr-1">
                        <div class="input-group">
                            <% 
                                   
                            var selectr= moment(startdates).format("DD-MM-YYYY");
                            var selectrs= moment(enddates).format("DD-MM-YYYY");

                            var selectr2= moment(startdates).format("YYYY-MM-DD HH:mm:ss");
                            var selectrs2= moment(enddates).format("YYYY-MM-DD HH:mm:ss");
                              %>
             <input type="text"  required class="form-control date" placeholder="<%= selectr %> - <%= selectrs %>" value="<%= selectr; %> - <%= selectrs; %>"  aria-label="Username" id="allselecteddate" aria-describedby="basic-addon1">
           <input type="hidden" id="search_checkin" name="startdate" class="form-control"  value="<%= selectr2; %>"  placeholder="Use this hidden">
           <input type="hidden" id="search_checkout" name="enddate" class="form-control"  value="<%= selectrs2; %>"  placeholder="Use this hidden"> <div class="input-group-prepend">
            
          <div class="input-group-prepend">
            
            <button type="submit"  onclick="spinner()" style="background-color: #262d47 !important;
            color: #fff;" >
                <i style="font-size: 1.2rem;margin-top: 5px;
                font-weight: bolder;
                margin-top: 5px;" class="la la-search fa-lg"></i> 
            </button>
        </div>
                        </div>
                    </li>
                    
                  </form>
                  
                </ul>
            </div>

            <div class="blocks tabContainers mb-0">
                <ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="pills-productivity-tab" data-toggle="pill" href="#pills-productivity" role="tab" aria-controls="pills-productivity" aria-selected="true">Productivity</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-snapshots-tab" data-toggle="pill" href="#pills-snapshots" role="tab" aria-controls="pills-snapshots" aria-selected="false">Snapshots</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-apps-tab" data-toggle="pill" href="#pills-apps" role="tab" aria-controls="pills-apps" aria-selected="false">Apps</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-activity-tab" data-toggle="pill" href="#pills-activity" role="tab" aria-controls="pills-activity" aria-selected="false">Activity</a>
                    </li>
                  
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-logs-tab" data-toggle="pill" href="#pills-logs" role="tab" aria-controls="pills-logs" aria-selected="false">Logs</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-attendance-tab" data-toggle="pill" href="#pills-attendance" role="tab" aria-controls="pills-attendance" aria-selected="false">Attendance</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" style="color:red;" id="pills-leave-tab" data-toggle="pill" href="#pills-leave" role="tab" aria-controls="pills-leave" aria-selected="false">Leave</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-peofile-tab" data-toggle="pill" href="#pills-peofile" role="tab" aria-controls="pills-peofile" aria-selected="false">Profile</a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="password-peofile-tab" data-toggle="pill" href="#password-peofile" role="tab" aria-controls="password-peofile" aria-selected="false">Change Password</a>
                    </li>
                    <%  if(user.totalwebresultwebmonth.length > 0){
                                    
                        for(var i=0; i < user.totalwebresultwebmonth.length; i++) { 
                        for(var j=0; j < user.totalwebresultwebmonth[i][0].amount.length; j++) { 
                                   %>
                         <%=user.totalwebresultwebmonth[i][0].amount[j];  %>
                                <% } } } %>
                </ul>

               
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-productivity" role="tabpanel" aria-labelledby="pills-productivity-tab">
                        <div class="d-flex align-items-start">
                            <div class="userProfilez">
                                <div class="dp"> <%=res %> <%=nres %></div>
                                <p><%= user.data.firstname; %> <%= user.data.lastname; %></p>
                            </div>

                            <div class="productivityContainer flex-fill">
                                <!-- Bar charts section start -->



                                <!-- // Bar charts section end -->
                                <%   var totalworkingyear="";
                                var totalworkingDisplayyear="00";
                          var mtotalworkingDisplayyear="00";
                          var stotalworkingDisplayyear="00";
                          var totalproductinfoDisplayyear="00";
                          var mtotalproductinfoDisplayyear="00";
                          var stotalproductinfoDisplayyear="00";
                          var totalidleDisplayyear="00";
                          var mtotalidleDisplayyear="00";
                          var stotalidleDisplayyear="00";
                             var percentageyear="0";
                              if(user.totalwebresult.length > 0){
                                    var totalproductinfoyear=0;
                                    if(user.totalwebresult[0].productivitytimeyear!=""){
               var totalproductinfoyear= Math.floor(user.totalwebresult[0].productivitytimeyear / 1000);
            }
               var totalidleyear= Math.floor(user.totalwebresult[0].idletimeyear /1000);
             
                  if(totalproductinfoyear){
                                                                          
                  var mstotalworkingsyear = Math.floor(totalproductinfoyear % 3600 / 60);
                var mstotalworkingDisplaysyear = mstotalworkingsyear > 0 ? (mstotalworkingsyear > 9 ? mstotalworkingsyear : "0"+mstotalworkingsyear) + (mstotalworkingsyear == 1 ? "" : "") : "00";
                 
                                                        
                                                        
                  var  dtotalproductinfoyear = Number(totalproductinfoyear);
                       var htotalproductinfoyear = Math.floor(dtotalproductinfoyear / 3600);
                  var mtotalproductinfoyear = Math.floor(dtotalproductinfoyear % 3600 / 60);
                  var stotalproductinfoyear = Math.floor(dtotalproductinfoyear % 3600 % 60);
                                                                        
                var totalproductinfoDisplayyear = htotalproductinfoyear > 0 ? (htotalproductinfoyear > 9 ? htotalproductinfoyear : "0"+htotalproductinfoyear) + (htotalproductinfoyear == 1 ? "" : "") : "00";
                     var mtotalproductinfoDisplayyear = mtotalproductinfoyear > 0 ? (mtotalproductinfoyear > 9 ? mtotalproductinfoyear : "0"+mtotalproductinfoyear) + (mtotalproductinfoyear == 1 ? "" : "") : "00";

                     var stotalproductinfoDisplayyear = stotalproductinfoyear > 0 ? (stotalproductinfoyear > 9 ? stotalproductinfoyear : "0"+stotalproductinfoyear) + (stotalproductinfoyear == 1 ? "" : "") : "00";                                    
                                                        
                                            
                                                        
                 var totalworkingyear=totalproductinfoyear+totalidleyear;
             var dtotalworkingyear = Number(totalworkingyear);
                                                                      
              var htotalworkingyear = Math.floor(dtotalworkingyear / 3600);
                                                                    
                var mtotalworkingyear = Math.floor(dtotalworkingyear % 3600 / 60);
                            
                var stotalworkingyear = Math.floor(dtotalworkingyear % 3600 % 60);

                   var totalworkingDisplayyear = htotalworkingyear > 0 ? (htotalworkingyear > 9 ? htotalworkingyear : "0"+htotalworkingyear) + (htotalworkingyear == 1 ? "" : "") : "00";
                                                                     
                      var mtotalworkingDisplayyear = mtotalworkingyear > 0 ? (mtotalworkingyear > 9 ? mtotalworkingyear : "0"+mtotalworkingyear) + (mtotalworkingyear == 1 ? "" : "") : "00";

                    
                      var stotalworkingDisplayyear = stotalworkingyear > 0 ? (stotalworkingyear > 9 ? stotalworkingyear : "0"+stotalworkingyear) + (stotalworkingyear == 1 ? "" : "") : "00";
                       
            var percentageyear=(Number(dtotalproductinfoyear)*100)/Number(dtotalworkingyear);    


                 var  dtotalidleyear = Number(totalidleyear);
                     var htotalidleyear = Math.floor(dtotalidleyear / 3600);
                        var mtotalidleyear = Math.floor(dtotalidleyear % 3600 / 60);
                        var stotalidleyear = Math.floor(dtotalidleyear % 3600 % 60);                                                 
                       var totalidleDisplayyear = htotalidleyear > 0 ? htotalidleyear + (htotalidleyear == 1 ? "" : "") : "00";
                        var mtotalidleDisplayyear = mtotalidleyear > 0 ? (mtotalidleyear > 9 ? mtotalidleyear : "0"+mtotalidleyear) + (mtotalidleyear == 1 ? "" : "") : "00";
                        var stotalidleDisplayyear = stotalidleyear > 0 ? (stotalidleyear > 9 ? stotalidleyear : "0"+stotalidleyear) + (stotalidleyear == 1 ? "" : "") : "00";
                                                        
                         }else{
                                      var totalworkingyear="";
                                     var totalworkingDisplayyear="00";
                               var mtotalworkingDisplayyear="00";
                               var stotalworkingDisplayyear="00";
                               var totalproductinfoDisplayyear="00";
                               var mtotalproductinfoDisplayyear="00";
                               var stotalproductinfoDisplayyear="00";
                               var totalidleDisplayyear="00";
                               var mtotalidleDisplayyear="00";
                               var stotalidleDisplayyear="00";
                                  var percentageyear="0";
                                                                    }
                                                        
             var  percentageyear=Math.round(percentageyear);

             if(percentageyear >100){
                percentageyear="100";
              } 
              if(percentageyear =="NaN"){
                percentageyear="0";
              }                                         } %>


                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-12">
                                        <div class="alert alert-success">
                                            <p>Productivity</p>
                                     <p class="font-weight-bold"><span><%= percentageyear; %></span> %</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-12">
                                        <div class="alert alert-danger">
                                            <p>Total Work Time</p>
                                            <p class="font-weight-bold"><span><%= totalworkingDisplayyear+':'+mtotalworkingDisplayyear+':'+stotalworkingDisplayyear; %></span> hh:mm:ss</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-12">
                                        <div class="alert alert-warning">
                                            <p>Total Productivity</p>
                                            <p class="font-weight-bold"><span><%= totalproductinfoDisplayyear+':'+mtotalproductinfoDisplayyear+':'+stotalproductinfoDisplayyear; %></span> hh:mm:ss</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-12">
                                        <div class="alert alert-info">
                                            <p>Total Idle Time</p>
                                            <p class="font-weight-bold"><span><%= totalidleDisplayyear+':'+mtotalidleDisplayyear+':'+stotalidleDisplayyear; %></span> hh:mm:ss</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table id="zero_config87" class="table table-striped table-bordered no-wrap">
                                        <thead>
                                            <tr>
                                               
                                                <th>Date </th>
                                                <th>Working Time</th>
                                                <th>Idle Time</th>
                                                <th>Productive Time</th>
                                                <th>Productive</th>
                                                <th>Key Press</th>
                                                <th>Mouse Clicked</th>
                                                <th>Mouse Moved</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%  if(user.productivityinfoweb.length > 0){
                                                var s=1; 
                                                for(var i=0; i < user.productivityinfoweb.length; i++) { 
                                                    var str=new Date(); %>
                                            <tr>
                                                
                         <td><%= moment(user.productivityinfoweb[i].capturetime).format('DD-MM-YYYY'); %></td>
                                                <td>
        <%   var totalproductinfo= Math.floor(user.productivityinfoweb[i].productivitytime / 1000);
            var totalidle= Math.floor(user.productivityinfoweb[i].idletime / 1000);
                    if(totalproductinfo){
                                                  
                    var mstotalworkings = Math.floor(totalproductinfo % 3600 / 60);
                    var mstotalworkingDisplays = mstotalworkings > 0 ? (mstotalworkings > 9 ? mstotalworkings : "0"+mstotalworkings) + (mstotalworkings == 1 ? "" : "") : "00";
                 
                                
                                
                    var  dtotalproductinfo = Number(totalproductinfo);
                     var htotalproductinfo = Math.floor(dtotalproductinfo / 3600);
                     var mtotalproductinfo = Math.floor(dtotalproductinfo % 3600 / 60);
                     
                     var stotalproductinfo = Math.floor(dtotalproductinfo % 3600 % 60);                                                                           
                     var totalproductinfoDisplay = htotalproductinfo > 0 ? (htotalproductinfo > 9 ? htotalproductinfo : "0"+htotalproductinfo) + (htotalproductinfo == 1 ? "" : "") : "00";
                    var mtotalproductinfoDisplay = mtotalproductinfo > 0 ? (mtotalproductinfo > 9 ? mtotalproductinfo : "0"+mtotalproductinfo) + (mtotalproductinfo == 1 ? "" : "") : "00";
                    var stotalproductinfoDisplay = stotalproductinfo > 0 ? (stotalproductinfo > 9 ? stotalproductinfo : "0"+stotalproductinfo) + (stotalproductinfo == 1 ? "" : "") : "00";
                                 
                                
                                
                                
                      var totalworking=totalproductinfo+totalidle;
                      var dtotalworking = Number(totalworking);
                                              
                         var htotalworking = Math.floor(dtotalworking / 3600);
                                            
                         var mtotalworking = Math.floor(dtotalworking % 3600 / 60);
                  var stotalworking = Math.floor(dtotalworking % 3600 % 60);                     
                     var totalworkingDisplay = htotalworking > 0 ? (htotalworking > 9 ? htotalworking : "0"+htotalworking) + (htotalworking == 1 ? "" : "") : "00";
                                             
                      var mtotalworkingDisplay = mtotalworking > 0 ? (mtotalworking > 9 ? mtotalworking : "0"+mtotalworking) + (mtotalworking == 1 ? "" : "") : "00";

                      var stotalworkingDisplay = stotalworking > 0 ? (stotalworking > 9 ? stotalworking : "0"+stotalworking) + (stotalworking == 1 ? "" : "") : "00";       
                      
                      var percentage=(Number(totalproductinfo)*100)/Number(dtotalworking);

            var  dtotalidle = Number(totalidle);
            var htotalidle = Math.floor(dtotalidle / 3600);
            var mtotalidle = Math.floor(dtotalidle % 3600 / 60);
            var stotalidle = Math.floor(dtotalidle % 3600 % 60);                                    
                     var totalidleDisplay = htotalidle > 0 ? htotalidle + (htotalidle == 1 ? "" : "") : "00";
                        var mtotalidleDisplay = mtotalidle > 0 ? (mtotalidle > 9 ? mtotalidle : "0"+mtotalidle) + (mtotalidle == 1 ? "" : "") : "00";
                        var stotalidleDisplay = stotalidle > 0 ? (stotalidle > 9 ? stotalidle : "0"+stotalidle) + (stotalidle == 1 ? "" : "") : "00";      
                                    }else{
                                                var totalworking="";
                                                var totalworkingDisplay="00";
                                                var mtotalworkingDisplay="00";
                                                var stotalworkingDisplay="00";

                                                var totalproductinfoDisplay="00";
                                                var mtotalproductinfoDisplay="00";
                                                var stotalproductinfoDisplay="00";
                                              
                                                var totalidleDisplay="00";
                                                var mtotalidleDisplay="00";
                                                var stotalidleDisplay="00";
                                              
                                                var percentage="0";
                                            }
                                
                                            var  percentage=Math.round(percentage);
                                            if(percentage >100){
                                                percentage="100";
                                              }
                                 %>
                                 <%= totalworkingDisplay+':'+mtotalworkingDisplay+':'+stotalworkingDisplay; %> </td>
                                 <td><%= totalidleDisplay+':'+mtotalidleDisplay+':'+stotalidleDisplay; %> </td>
                        <td><%= totalproductinfoDisplay+':'+mtotalproductinfoDisplay+':'+stotalproductinfoDisplay; %> </td>
                                 <td><%= percentage+" %"; %> </td>
                                 <td><%= user.productivityinfoweb[i].totalKeypressCount; %> </td>
                                 <td><%= user.productivityinfoweb[i].totalClicks; %> </td>
                                 <td><%= user.productivityinfoweb[i].totalMouseMovement; %> </td>
                                            </tr>
                                            <% } }else{ %>
                                                <tr>

                                                    <td class=" text-center " colspan="8" style="color:red; ">
                                                        No Productivity Listed Yet
                                                    </td>
                                                </tr>

                                          <%  } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-snapshots" role="tabpanel" aria-labelledby="pills-snapshots-tab">
                        <div class="d-flex align-items-start">
                            <div class="userProfilez">
                                <div class="dp"><%=res %> <%=nres %></div>
                                <p><%= user.data.firstname; %> <%= user.data.lastname; %></p>
                            </div>
                            <div id="style-3" class="snaps scrollbar">
                                <div class="force-overflow">

                               


<%  var arrt=[];
 for (let i = 0; i < user.timesarr.length; i++) {
    var string = user.timesarr[i].split('-');
    if(user.snapshotdata.length > 0){
        var s=1; 
        for(var s=0; s < user.snapshotdata.length; s++) {


if(string[0]==user.snapshotdata[s][0].starttime){

    arrt[i]=user.snapshotdata[s][0];
}
        }
    }
}


if(arrt.length > 0){
    var s=1; 
    for(var i=0; i < arrt.length; i++) {
        if(arrt[i].image.length >0){
         var d= i; %>
        
                                     <div class="snapHourly">
                        <p class="snapTime"><%= (arrt[i].starttime); %></p>
                                        <div class="demo-gallery">

                    <ul class="list-unstyled row">
                     
                  <%  for(var j=0; j < arrt[i].image.length; j++) { 
                    var color="";
                    if(arrt[i].image[j].productivityCount >0 &&  arrt[i].image[j].productivityCount <= 25){
                     var color="background-color: red !important;";
                    }else if(arrt[i].image[j].productivityCount >25 &&  arrt[i].image[j].productivityCount <= 50){
                     var color="background-color: orange !important;";
                 }else if(arrt[i].image[j].productivityCount >50 &&  arrt[i].image[j].productivityCount <= 75){
                     var color="background-color: blue !important;";
                 }else if(arrt[i].image[j].productivityCount >75 &&  arrt[i].image[j].productivityCount <= 100){
                     var color="background-color: #579239 !important;";
                 }
                      
                      %>

                                                 <li class="col-md-3 mb-2" >
                                                    <a href="javascript:void(0)"  class="tagimga"  data-target="#<%= d; %>" data-toggle="modal"> 
                                                    <span class="tagimg"><%=  moment(arrt[i].image[j].date).format('H:mm a'); %></span>
                                                        <img src="<%= arrt[i].image[j].snap; %>" class="img-fluid" alt="Thumb-1">
                                                        <div class="progress" style="height:.5rem">
                                                            <div class="progress-bar" role="progressbar" style="<%= color; %>;width: <%= arrt[i].image[j].productivityCount; %>%" aria-valuenow="<%= arrt[i].image[j].productivityCount; %>" aria-valuemin="0" aria-valuemax="100"></div>
                                                            
                                                        </div>
                                                    </a>
                                                </li>
<% }  %>


</ul>
    <!-- SS Modal Start -->
    <div class="modal fade bd-example-modal-lg ssModalPopup " id="<%= d; %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div class="owl-carousel owl-theme owl-loaded popupCarousel">
                    <div class="owl-stage-outer">
                        <div class="owl-stage">
       <%  for(var j=0; j < arrt[i].image.length; j++) {  %>
                    <div class="owl-item">
                                <div class="modal-header">
        <h5 class="modal-title" id="ssModalLabel">Preview - <%= user.data.firstname; %> <%= user.data.lastname; %> - <%= moment(arrt[i].image[j].date).format('DD-MM-YYYY'); %> |
                                        <a href="#"><img src="/assets/images/ic_lock.png" alt="" class="img-fluid" /></a>
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="ssPart">
                                                <img src="<%= arrt[i].image[j].snap; %>" alt="img" class="img-fluid" />
                                            </div>

                                            <div class="ssActivity">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <h4>Activity Detail</h4>
                                                    <p>Activity Level <span style="color:#ed4724;"> <% var sss= arrt[i].image[j].productivityCount;%> <%= sss %> %</span></p>
                                                    <% var ssss= "width:"+arrt[i].image[j].productivityCount+"%"; %>
                                                </div>
                                                <div class="progress m-0 mt-1">
                                                    <div class="progress-bar" role="progressbar" style="<%= ssss; %>" aria-valuenow="<%= arrt[i].image[j].productivityCount;%>" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>

                                                <div class="d-flex activities">
                                                    <div class="activityTile">
                                                        <span>Duration</span>
             <%  if(arrt[i].image[j].duration){ 
                    var dtotalproductinfos = Number(arrt[i].image[j].duration);
                    var dtotalproductinfos= Math.floor(dtotalproductinfos / 1000);
                    var htotalproductinfos = Math.floor(dtotalproductinfos / 3600);
                    var mtotalproductinfos = Math.floor(dtotalproductinfos % 3600 / 60);
                                                        
                var stotalproductinfos =Math.floor(dtotalproductinfos % 3600 % 60);                                                                           
                  var totalproductinfoDisplayss = htotalproductinfos > 0 ? (htotalproductinfos > 9 ? htotalproductinfos : "0"+htotalproductinfos) + (htotalproductinfos == 1 ? "" : "") : "00";
                 var mtotalproductinfoDisplayss = mtotalproductinfos > 0 ? (mtotalproductinfos > 9 ? mtotalproductinfos : "0"+mtotalproductinfos) + (mtotalproductinfos == 1 ? "" : "") : "00";
                  var stotalproductinfoDisplayss = stotalproductinfos > 0 ? (stotalproductinfos > 9 ? stotalproductinfos : "0"+stotalproductinfos) + (stotalproductinfos == 1 ? "" : "") : "00";
                          }else{
                            var totalproductinfoDisplayss = "00";
                            var mtotalproductinfoDisplayss = "00";
                            var stotalproductinfoDisplayss = "00";

                          }  %>           
                                      <%= totalproductinfoDisplayss+':'+mtotalproductinfoDisplayss+':'+stotalproductinfoDisplayss; %>
                                                    </div>
                                                    <div class="activityTile">
                                                        <span>Key Press</span> <%= arrt[i].image[j].keypress;%>
                                                    </div>
                                                    <div class="activityTile">
                                                        <span>Mouse Click</span> <%= arrt[i].image[j].totalMouseclick;%>
                                                    </div>
                                                    <div class="activityTile">
                                                        <span>Mouse Move</span> <%= arrt[i].image[j].totalMouseMovement;%>
                                                    </div>
                                                    <div class="activityTile">
                                                        <span>Activity</span> --
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-5">
                                            <ul class="ssSoft">
                                                <li class="ulHeading">
                                                    <h4>Application Uses</h4>
                                                </li>

                <% var ssss=arrt[i].image[j].applist;
                  var utestapplist = JSON.parse(ssss);
                //  console.log(utestapplist);
                if(utestapplist.length > 0){
               %>  <% for(var s=0; s < utestapplist.length; s++) { 
                         %>
                                                <li class="d-flex align-items-center">
                                                    <img src="/assets/images/ic_chrome.png" alt="logo" class="img-fluid " />
                                                    <div class="ssSoftDetail">
                                        <p>
                                      <% var appli=utestapplist[s].windowClass.split("."); %>
                                        <%= appli[0].toUpperCase(); %></p>
                                        <p><%= utestapplist[s].windowName; %></p>                            
                 
                             <p><%   var  dproductivitytimecnt = Number(utestapplist[s].count);
                                  var hproductivitytimecnt = Math.floor(dproductivitytimecnt / 3600);
                                  var mproductivitytimecnt = Math.floor(dproductivitytimecnt % 3600 / 60);
                                  var sproductivitytimecnt = Math.floor(dproductivitytimecnt % 3600 % 60);
                                  var productivitytimeDisplaycnt = hproductivitytimecnt > 0 ? (hproductivitytimecnt > 9 ? hproductivitytimecnt : "0"+hproductivitytimecnt) + (hproductivitytimecnt == 1 ? "" : "") : "00";
                                  var mproductivitytimeDisplaycnt = mproductivitytimecnt > 0 ? (mproductivitytimecnt > 9 ? mproductivitytimecnt : "0"+mproductivitytimecnt) + (mproductivitytimecnt == 1 ? "" : "") : "00";
                                   var sproductivitytimeDisplaycnt = sproductivitytimecnt > 0 ? (sproductivitytimecnt > 9 ? sproductivitytimecnt : "0"+sproductivitytimecnt) + (sproductivitytimecnt == 1 ? "" : "") : "00";
                                 var cdurationtimecnt=productivitytimeDisplaycnt+':'+mproductivitytimeDisplaycnt+':'+sproductivitytimeDisplaycnt;
                                               %>
                                   Duration : <%= cdurationtimecnt; %> mm:ss</p>
                                                            
                                                           
                                                    </div>
                                                </li>
                                        <% } } %>        
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                          <% } %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SS Modal End -->





                                                
                                              
                                           
                                        </div>
                                    </div>
                                    <% } } } %>
                                </div>
                             
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-apps" role="tabpanel" aria-labelledby="pills-apps-tab">
                        <div class="d-flex align-items-start">
                            <div class="userProfilez">
                                <div class="dp"><%=res %> <%=nres %></div>
                                <p><%= user.data.firstname; %> <%= user.data.lastname; %></p>
                            </div>

                            <div class="productivityContainer flex-fill">
                                <!-- Bar charts section start -->
                               
                                <!-- // Bar charts section end -->

                                <div class="table-responsive">
                                    <table id="zero_config3" class="table table-striped table-bordered no-wrap">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Duration</th>
                                                <th>Title</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%  if(user.appslist.length > 0){
                                                var s=1; 
                                                for(var i=0; i < user.appslist.length; i++) { 
                                                    var str=new Date(); if(user.appslist[i].applist!=""){ var applistse=user.appslist[i].windowclass.split(".");%>
                                            <tr>
                                                <td><%= s++; %></td>
                                                <td><%= applistse[0]; %></td>
                                                
                                                <td>
                              <%   var  dproductivitytime = Number(user.appslist[i].count);
                                      var hproductivitytime = Math.floor(dproductivitytime / 3600);
                                       var mproductivitytime = Math.floor(dproductivitytime % 3600 / 60);
                                        var sproductivitytime = Math.floor(dproductivitytime % 3600 % 60);
                                        var productivitytimeDisplay = hproductivitytime > 0 ? (hproductivitytime > 9 ? hproductivitytime : "0"+hproductivitytime) + (hproductivitytime == 1 ? "" : "") : "00";
                                          var mproductivitytimeDisplay = mproductivitytime > 0 ? (mproductivitytime > 9 ? mproductivitytime : "0"+mproductivitytime) + (mproductivitytime == 1 ? "" : "") : "00";
                                         var sproductivitytimeDisplay = sproductivitytime > 0 ? (sproductivitytime > 9 ? sproductivitytime : "0"+sproductivitytime) + (sproductivitytime == 1 ? "" : "") : "00";
                                         var cdurationtime=productivitytimeDisplay+':'+mproductivitytimeDisplay+':'+sproductivitytimeDisplay;
                                                    %>
                                                    
                                                    
                                                    
                                                    <%= cdurationtime; %></td>
                                                    <td><%= user.appslist[i].applist; %></td>
                                                <td> <%= moment(user.appslist[i].capturetime).format('DD-MM-YYYY') %></td>
                                            </tr>
                                            <% } } }else{ %>
                                                <tr>

                                                    <td class=" text-center " colspan="4" style="color:red; ">
                                                        No App Listed Yet
                                                    </td>
                                                </tr>

                                          <%  } %>
                                           

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-activity" role="tabpanel" aria-labelledby="pills-activity-tab">
                        <div class="d-flex align-items-start">
                            <div class="userProfilez">
                                <div class="dp"><%=res %> <%=nres %></div>
                                <p><%= user.data.firstname; %> <%= user.data.lastname; %></p>
                            </div>

                            <div class="productivityContainer flex-fill">
                                <!-- Bar charts section start -->
                              
                                <!-- // Bar charts section end -->

                                <div class="table-responsive">
                                    <table id="zero_config4" class="table table-striped table-bordered no-wrap">
                                        <thead>
                                            <tr>
                                                <th style="width:8%">Activity</th>
                                                <th style="width:8%">Task</th>
                                                <th style="width:8%">Project</th>
                                              
                                                <th style="width:20%">Start Date</th>
                                                <th style="width:20%">End Date</th>
                                                <th style="width:12%">Duration</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%  if(user.activeactivitygetresult.length > 0){
                                                var s=1; 
                                                for(var i=0; i < user.activeactivitygetresult.length; i++) { 
                                                 %>
                                            <tr>
                   <td><% if(user.activeactivitygetresult[i].task.projects_id !== 0){ %> TASK <% }else{ %> BREAK <% } %></td>
                    <td><%= user.activeactivitygetresult[i].task.name; %></td>
                    <td><% if(user.activeactivitygetresult[i].task.projects_id !== 0){ %> 
                        <%= user.activeactivitygetresult[i].task.project.name;  %>
                                <% } %></td> 
                                       
                                       
                        <td>
                        <%= moment(user.activeactivitygetresult[i].starttime).format('DD-MM-YYYY HH:mm:ss'); %></td>
                        <td> <% if(user.activeactivitygetresult[i].endtime){ %> <%= moment(user.activeactivitygetresult[i].endtime).format('DD-MM-YYYY HH:mm:ss'); %>
                             <% } %></td>
<td>
                             <%  
            var now  = moment(user.activeactivitygetresult[i].endtime).format('DD/MM/YYYY HH:mm:ss');
            var then = moment(user.activeactivitygetresult[i].starttime).format('DD/MM/YYYY HH:mm:ss');
            var ms =  moment.utc(moment(now,"DD/MM/YYYY HH:mm:ss").diff(moment(then,"DD/MM/YYYY HH:mm:ss"))).format("HH:mm:ss");   %>
            <% if(user.activeactivitygetresult[i].endtime){ %> 
                    <%= ms;  %>
                <% } %></td>
                                                <% } }else{ %>
                                                    <tr>
    
                                                        <td class=" text-center " colspan="9" style="color:red; ">
                                                            No App Listed Yet
                                                        </td>
                                                    </tr>
    
                                              <%  } %>
                                               
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                   

                    <div class="tab-pane fade" id="pills-logs" role="tabpanel" aria-labelledby="pills-logs-tab">
                        <div class="d-flex align-items-start">
                            <div class="userProfilez">
                                <div class="dp"><%=res %> <%=nres %></div>
                                <p><%= user.data.firstname; %> <%= user.data.lastname; %></p>
                            </div>

                            <div class="logContainer flex-fill">
                                <div class="table-responsive">
                                    <table id="zero_config2" class="table table-striped table-bordered no-wrap">
                                        <thead>
                                            <tr>
                                                <th>Punch In </th>
                                                <th>Punch Out</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%  if(user.logss.length > 0){
                                                var s=1; 
                           for(var i=0; i < user.logss.length; i++) { %>
                                               <tr>
                                   
        <td><b><%= moment(user.logss[i].punch_in).format('DD-MM-YYYY HH:mm:ss'); %></b></td>
        <td><b><% if(user.logss[i].punch_out){ %> 
            <%= moment(user.logss[i].punch_out).format('DD-MM-YYYY HH:mm:ss'); %>
           <% } %></b></td>
                      
</tr>
<% } }else{ %>
<tr><td colspan="2" style="text-align:center;color:red;"> No Attendance Logs Available</td></tr>

<% } %>
                                          
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-attendance" role="tabpanel" aria-labelledby="pills-attendance-tab">
                        <div class="d-flex align-items-start">
                            <div class="userProfilez">
                                <div class="dp"><%=res %> <%=nres %></div>
                                <p><%= user.data.firstname; %> <%= user.data.lastname; %></p>
                            </div>

                            <div class="productivityContainer flex-fill">
                                <div class="table-responsive">
                                    <table id="zero_config5" class="table table-striped table-bordered no-wrap">
                                        <thead>
                                            <tr>
                                                <th style="width:8%">Date</th>
                                                <th style="width:8%">In</th>
                                                <th style="width:8%">Out</th>
                                                <th style="width:8%">Duration</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%  if(user.logss.length > 0){
                                                var s=1; 
                           for(var i=0; i < user.logss.length; i++) { %>
                                               <tr>
                                   
        <td><b><%= moment(user.logss[i].punch_in).format('DD-MM-YYYY'); %></b></td>
        <td><b><%= moment(user.logss[i].punch_in).format('DD-MM-YYYY HH:mm:ss'); %></b></td>
        <td><b> <% if(user.logss[i].punch_out){ %> 
            <%= moment(user.logss[i].punch_out).format('DD-MM-YYYY HH:mm:ss'); %>
             <% } %></b></td>
       <td><%  
           
            ms = moment.utc(user.logss[i].duration*1000).format("HH:mm");   %>
            <% if(user.logss[i].punch_out){ %> 
                    <%= ms;  %>
                <% } %></td>  
</tr>
<% } }else{ %>
<tr><td colspan="4" style="text-align:center;color:red;"> No Attendance Logs Available</td></tr>

<% } %>
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-leave" role="tabpanel" aria-labelledby="pills-leave-tab">8</div>

                    <div class="tab-pane fade" id="pills-peofile" role="tabpanel" aria-labelledby="pills-peofile-tab">
                        <div class="d-flex align-items-start">
                            <div class="userProfilez">
                                <div class="dp"><%=res %> <%=nres %></div>
                                <p><%= user.data.firstname; %> <%= user.data.lastname; %></p>
                            </div>

                            <div class="productivityContainer flex-fill">
                                <form action="/viewdetailprofile" method="post" class="form  needs-validation" novalidate>
                                    <input type="hidden" name="id" value="<%= user.data.id; %>">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p>Basic Information</p>
                                               
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>First Name</label>
                                            <input type="text" id="firstname" class="form-control" placeholder="Enter First Name" name="firstname" required value="<%= user.data.firstname; %>">
                                            <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Please fill out this field.</div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Last Name</label>
                                            <input type="text" id="lastname" class="form-control" placeholder="Enter Last Name" name="lastname" required value="<%= user.data.lastname; %>">
                                            <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Please fill out this field.</div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Email</label>
                                            <input type="email" id="email" class="form-control" placeholder="Enter Email" name="email" required value="<%= user.data.email; %>">
                                            <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Please fill out this field.</div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Phone</label>
                                            <input type="text" id="mobile" class="form-control currency" maxlength="12" placeholder="Enter Mobile No." name="mobile" required value="<%= user.data.mobile; %>">
                                            <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Please fill out this field.</div>
                                        </div>
                                       

                                        <div class="col-md-12">
                                            <p>Login Information</p>
                                        </div>
                                        <div class="col-md-6">
                                            <label>User Name</label>
                                            <input type="text" name="cemail"  value="<%= user.data.email; %>" class="form-control" placeholder="User Name" />
                                            <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Please fill out this field.</div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Role</label>
                                            <select class="form-control">
                                                <% if(user.data.role['name']=="Admin"){ %>
                                               <option>Admin</option>
                                               <% } %>
                                               <% if(user.data.role['name']=="Employee"){ %>
                                                <option>Employee</option>
                                                <% } %>
                                            
                                            </select>
                                        </div>

                                        <div class="col-md-12">
                                            <p>Tracking</p>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="d-flex align-items-center">
                                                <label class="mr-3">Capture Screenshot</label>
                                                <!-- <div class="toggle-button-cover">
                                                <div class="button-cover">
                                                    <div class="button r" id="button-4">
                                                        <input type="checkbox" class="checkbox">
                                                        <div class="knobs"></div>
                                                        <div class="layer"></div>
                                                    </div>
                                                </div>
                                            </div> -->
                                                <label class="switch">
                                                <input type="checkbox" name="is_screenshot" value="<%= user.data.is_screenshot; %>">
                                                <span class="slider round"></span>
                                            </label>
                                            <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Please fill out this field.</div>
                                            </div>
                                        </div>

                                      

                                        <div class="col-md-12">
                                            <input type="submit" class="submitButton" value="Submit">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="password-peofile" role="tabpanel" aria-labelledby="password-peofile-tab">
                        <div class="d-flex align-items-start">
                            <div class="userProfilez">
                                <div class="dp"><%=res %> <%=nres %></div>
                                <p><%= user.data.firstname; %> <%= user.data.lastname; %></p>
                            </div>

                            <div class="productivityContainer flex-fill">
                                <form action="/viewdetailprofile" method="post" class="form  needs-validation" novalidate>
                                    <input type="hidden" name="id" value="<%= user.data.id; %>">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p>Change Password</p>
                                               
                                            </div>
                                        </div>

                                        <style>
                                            #register .short{ color:#FF0000; } #register .weak{ color:#E66C2C; } #register .good{ color:#2D98F3; } #register .strong{ color:#006400; }
</style>
                   <script>

                   $(document).ready(function() {

$('#password').keyup(function(){
    $('#result').html(checkStrength($('#password').val()));
})  

function checkStrength(password){

//initial strength
var strength = 0

//if the password length is less than 6, return message.
if (password.length < 6) {
    $('#result').removeClass();
    $('#result').addClass('short');
    return 'Too short'
}

//length is ok, lets continue.

//if length is 8 characters or more, increase strength value
if (password.length > 7) strength += 1

//if password contains both lower and uppercase characters, increase strength value
if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/))  strength += 1

//if it has numbers and characters, increase strength value
if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/))  strength += 1 

//if it has one special character, increase strength value
if (password.match(/([!,%,&,@,#,$,^,*,?,_,~])/))  strength += 1

//if it has two special characters, increase strength value
if (password.match(/(.*[!,%,&,@,#,$,^,*,?,_,~].*[!,",%,&,@,#,$,^,*,?,_,~])/)) strength += 1

//now we have calculated strength value, we can return messages

//if value is less than 2
if (strength < 2 ) {
    $('#result').removeClass();
    $('#result').addClass('weak');
    return 'Weak';
} else if (strength == 2 ) {
    $('#result').removeClass();
    $('#result').addClass('good');
    return 'Good';
} else {
    $('#result').removeClass();
    $('#result').addClass('strong');
    return 'Strong';
}
}
});
</script>    

<script>
function checkPasswordMatch() {
    var password = $("#password").val();
    var confirmPassword = $("#ckpassword").val();
    if (password != confirmPassword){
        $("#CheckPasswordMatch").html("Passwords does not match!");
        $("#updatepassword").hide();
}else{
        $("#CheckPasswordMatch").html("Passwords match.");
        $("#updatepassword").show();
}
}
$(document).ready(function () {
   $("#ckpassword").keyup(checkPasswordMatch);
});
</script>         
                                        <div class="col-md-6">
                                            <label> New Password</label>
                                            <input type="password" id="password" class="form-control" maxlength="10" placeholder="Enter New Password" name="cpassword" required >
                                            <span id="result"></span>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Confirm Password</label>
                                            <input type="password" id="ckpassword" class="form-control" maxlength="10" placeholder="Enter Confirm Password" name="ckpassword" required >
                                            <div class="registrationFormAlert" style="color:red;" id="CheckPasswordMatch"></div>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Please fill out this field.</div>
                                        </div>
                                        
                                       

                                       

                                      

                                        <div class="col-md-12">
                                            <input type="submit" class="submitButton" value="Submit">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->





<script>
    // Disable form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Get the forms we want to add validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            document.getElementsByClassName("loader")[0].style.display = "block";
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
              document.getElementsByClassName("loader")[0].style.display = "none";
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>
    




<%- include('../partials/footer'); %>