<%- include('../partials/header'); %>

    <body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-chartbg" data-col="2-columns">
        <%- include('../partials/nav'); %>
            <%- include('../partials/left'); %>


            
    <!-- Change Password Popup Start -->
    <div class="modal fade" id="addRemoveUserModal" tabindex="-1" role="dialog" aria-labelledby="addRemoveUserModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addRemoveUserModalLabel">Add / Remove User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <label class="mb-1">Assign To User</label>
                        <select class="form-control mb-2">
                            <option>User 1</option>
                            <option>User 2</option>
                            <option>User 3</option>
                            <option>User 4</option>
                            <option>User 5</option>
                            <option>User 6</option>
                        </select>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary border-0" style="background:#ed4724 !important;">Update</button>
                    </form>
                </div>


                <div class="userListsPopup">
                    <ul class="d-flex align-items-center ">
                        <li class="userName">SS</li>
                        <li class="flex-fill">
                            <p><b>Sushil Sharma</b></p>
                            <p>sushil@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>

                    <ul class="d-flex align-items-center ">
                        <li class="userName">RC</li>
                        <li class="flex-fill">
                            <p><b>Ritesh Chhipa</b></p>
                            <p>ritesh@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>
                    <ul class="d-flex align-items-center ">
                        <li class="userName">SS</li>
                        <li class="flex-fill">
                            <p><b>Sushil Sharma</b></p>
                            <p>sushil@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>

                    <ul class="d-flex align-items-center ">
                        <li class="userName">RC</li>
                        <li class="flex-fill">
                            <p><b>Ritesh Chhipa</b></p>
                            <p>ritesh@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>
                    <ul class="d-flex align-items-center ">
                        <li class="userName">SS</li>
                        <li class="flex-fill">
                            <p><b>Sushil Sharma</b></p>
                            <p>sushil@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>

                    <ul class="d-flex align-items-center ">
                        <li class="userName">RC</li>
                        <li class="flex-fill">
                            <p><b>Ritesh Chhipa</b></p>
                            <p>ritesh@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>
                    <ul class="d-flex align-items-center ">
                        <li class="userName">SS</li>
                        <li class="flex-fill">
                            <p><b>Sushil Sharma</b></p>
                            <p>sushil@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>

                    <ul class="d-flex align-items-center ">
                        <li class="userName">RC</li>
                        <li class="flex-fill">
                            <p><b>Ritesh Chhipa</b></p>
                            <p>ritesh@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>
                    <ul class="d-flex align-items-center ">
                        <li class="userName">SS</li>
                        <li class="flex-fill">
                            <p><b>Sushil Sharma</b></p>
                            <p>sushil@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>

                    <ul class="d-flex align-items-center ">
                        <li class="userName">RC</li>
                        <li class="flex-fill">
                            <p><b>Ritesh Chhipa</b></p>
                            <p>ritesh@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>
                    <ul class="d-flex align-items-center ">
                        <li class="userName">SS</li>
                        <li class="flex-fill">
                            <p><b>Sushil Sharma</b></p>
                            <p>sushil@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>

                    <ul class="d-flex align-items-center ">
                        <li class="userName">RC</li>
                        <li class="flex-fill">
                            <p><b>Ritesh Chhipa</b></p>
                            <p>ritesh@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>
                    <ul class="d-flex align-items-center ">
                        <li class="userName">SS</li>
                        <li class="flex-fill">
                            <p><b>Sushil Sharma</b></p>
                            <p>sushil@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>

                    <ul class="d-flex align-items-center ">
                        <li class="userName">RC</li>
                        <li class="flex-fill">
                            <p><b>Ritesh Chhipa</b></p>
                            <p>ritesh@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <div class="blocks userDetails">
                    <a href="./task.html">
                        <div class="userIcon">
                            <img src="./assets/images/ic_daily_attendance.png" class="img-fluid" alt="" />
                        </div>
                    </a>
                    <div class="details">
                        <h4 class="m-0">Monthly In-Out - <% var dfd = new Date(); 
                            
                            var  months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    
                            %>
                          <%=months[dfd.getMonth()]; %> <%=dfd.getFullYear(); %></h4>
                        <p class="m-0">In-Out Report of Your Organization</p>
                    </div>
                    <ul class="d-flex topInputs">
                        <a href="#" class="downloadButton"><i class="la la-download"></i> Download CSV</a>
                        <li class="mr-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="la la-calendar-o"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" placeholder="2021-05-30 - 2021-06-28" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </li>
                        <li>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="la la-refresh"></i>
                                </span>
                            </div>
                        </li>
                        <!-- <a href="#" data-toggle="modal" data-target="#addProjectModal" class="downloadButton btn-success text-white ml-1 mr-0">
                            Add New Leave
                        </a> -->
                    </ul>
                </div>

                <div class="blocks tabContainers mb-0 dailyInOutTable">
                    <div class="table-responsive" style="border-left: 1px solid #ccc8;
                    border-right: 1px solid #ccc8;">
                        <table class="mb-0 table-bordered table" style="min-width: 5000px;">
                            <thead>
                                <tr>
                                    <th class="bt-0" style="padding: .5rem !important; width: 400px !important;">Employee</th>
                                    <% var dt = new Date();
                                    var month = dt.getMonth();
                                    var year = dt.getFullYear();
                                    daysInMonth = new Date(year, month, 0).getDate();
                                    
                                    if(daysInMonth){
                                        for(var g=1; g <= daysInMonth; g++) {  %>


                                    <th class="bt-0 p_0" style="width:300px !important; text-align:center;">
                                        <div class="t_date"><%= g; %> </div>
                                        <div class="inout d-flex justify-content-around">
                                            <div class="w_50t br-r">In</div>
                                            <div class="w_50t">Out</div>
                                        </div>
                                    </th>
                                  <% } } %>
                                    <th class="bt-0" style="width:300px !important; text-align:center; padding: .5rem !important;">Total Present</th>
                                    <th class="bt-0" style="width:300px !important; text-align:center; padding: .5rem !important;">Total Absent</th>
                                    <th class="bt-0" style="width:300px !important; text-align:center; padding: .5rem !important;">Total Leave</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%  if(monthlyattendance.user.length > 0){
   
                                    for(var i=0; i < monthlyattendance.user.length; i++) { 
                                          var present =0;
                                          var absent =0;
                                        
                                        var userstring = monthlyattendance.user[i].split('_'); 
                                                        
                                           %> <% var srr=userstring[1].split(' '); 
                                                
                                            var res = srr[0].substring(0, 1); 
                                            var nres = srr[1].substring(0, 1);  %> 
                                                <tr>
                                                    <th class="align-middle" style="padding: .5rem !important;">
                                                    <span class="firstName bg-dark">
                                                    <%=res %><%=nres %></span>
                                                    <a href="<%= process.env.APP_URL %>/viewdetail/<%= userstring[0] %>"> <%= userstring[1]; %></a>
                                                    </th> 
                                  

                                    <% if(daysInMonth){  var d = new Date();
                                        var df=d.getDate();
                 
                 
                                         for(var g=1; g <= daysInMonth; g++) {  %>
                                             <td class="align-middle p_0"> <%
                                                  
                                              if(monthlyattendance.data.length > 0){
                 
                                             for(var s=0; s < monthlyattendance.data.length; s++) {
                                               
                                                 var datt=moment(monthlyattendance.data[s].punch_in).format('D');
                                         
                                                 if(monthlyattendance.data[s].userId == userstring[0] && datt==g){ 
                                                     
                                    if(monthlyattendance.data[s].punch_in !== null && monthlyattendance.data[s].punch_out !== null){


                                     var now  = moment(monthlyattendance.data[s].punch_out).format('DD/MM/YYYY HH:mm:ss');
                                     var then = moment(monthlyattendance.data[s].punch_in).format('DD/MM/YYYY HH:mm:ss');
                                     var ms =  moment.utc(moment(now,"DD/MM/YYYY HH:mm:ss").diff(moment(then,"DD/MM/YYYY HH:mm:ss"))).format("HH:mm"); 
                                     present++;  }   %>
                                     
                             <div class="inout d-flex justify-content-around border-0">
                               <div class="w_50t"><%= moment(monthlyattendance.data[s].punch_in).format('HH:mm A') %></div>
                                 <div class="w_50t"><%= moment(monthlyattendance.data[s].punch_out).format('HH:mm A') %></div>
                                    </div>
                                     
                                    <%  }else { absent++; } } } %>
                                     </td> <% } } %>
                                                   
                                                     <td class="align-middle">
                                                         <div style="text-align: center;"><%= present; %></div>
                                                     </td>
                                                     <td class="align-middle">
                                                         <div style="text-align: center;"> <% var rem= df-present; %> <%=rem; %></div>
                                                     </td>
                                                     <td class="align-middle">
                                                         <div style="text-align: center;"></div>
                                                     </td>
                                                 </tr>
                                                <% } } %>



                                   
                                  
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->




                <%- include('../partials/footer'); %>