<%- include('../partials/header'); %>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">

    <script type="text/javascript" src="https://datatables.net/media/js/site.js?_=3ce0bd53b76d94fd6dd7936dd9dbb114"></script>
	<script type="text/javascript" src="https://datatables.net/media/js/dynamic.php?comments-page=extensions%2Fbuttons%2Fexamples%2Fhtml5%2FexcelBorder.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>

	<script type="text/javascript" class="init">



$(document).ready(function() {

    var ddd=$('#getmonn').text();
       ddd = ddd.split(/\s/).join('');
	$('#example').DataTable( {
		dom: 'Bfrtip',
           "ordering": false,
            "searching": false,
            "paging":   false,
		buttons: [ {
             text: 'Export To xls',
             title: 'Data_'+ddd,
			extend: 'excelHtml5',
			customize: function ( xlsx ){
				var sheet = xlsx.xl.worksheets['sheet1.xml'];

				// jQuery selector to add a border

            $('row c[r*="2"]', sheet).attr('s', '25');
			}
		} ]
	} );
} );



	</script>
   <style>
    .buttons-html5{
        background-color: red !important;
    color: #fff !important;
    font-weight: bold !important;
    }

    .buttons-html5 span{
        
    font-weight: bold !important;
font-size: 14px !important;
    }
    </style>
    <body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click"
        data-menu="vertical-menu" data-color="bg-chartbg" data-col="2-columns">
        <%- include('../partials/nav'); %>
            <%- include('../partials/left'); %>


                <script>
                    $(document).ready(function () {
                        const monthNames = ["January", "February", "March", "April", "May", "June",
                            "July", "August", "September", "October", "November", "December"
                        ];
                        let qntYears = 1;
                        let selectYear = $("#year");
                        let selectMonth = $("#month");
                        let selectDay = $("#day");
                        let currentYear = new Date().getFullYear();

                        for (var y = 0; y < qntYears; y++) {
                            let date = new Date(currentYear);
                            let yearElem = document.createElement("option");
                            yearElem.value = currentYear
                            yearElem.textContent = currentYear;
                            selectYear.append(yearElem);
                            currentYear--;
                        }

                        for (var m = 0; m < 12; m++) {
                            let month = monthNames[m];
                            let monthElem = document.createElement("option");
                            monthElem.value = m;
                            monthElem.textContent = month;
                            selectMonth.append(monthElem);
                        }

                        var d = new Date();
                        var month = d.getMonth();
                        var year = d.getFullYear();
                        var day = d.getDate();

                        selectYear.val(year);
                        selectYear.on("change", AdjustDays);
                        selectMonth.val(month);
                        selectMonth.on("change", AdjustDays);

                        AdjustDays();
                        selectDay.val(day)

                        function AdjustDays() {
                            var year = selectYear.val();
                            var month = parseInt(selectMonth.val()) + 1;
                            selectDay.empty();

                            //get the last day, so the number of days in that month
                            var days = new Date(year, month, 0).getDate();

                            //lets create the days of that month
                            for (var d = 1; d <= days; d++) {
                                var dayElem = document.createElement("option");
                                dayElem.value = d;
                                dayElem.textContent = d;
                                selectDay.append(dayElem);
                            }
                        }
                    });


                </script>


                <div class="app-content content">
                    <div class="content-wrapper">
                        <div class="content-body">
                            <div class="blocks userDetails">
                                <a href="#">
                                    <div class="userIcon">
                                        <img src="/assets/images/ic_daily_attendance.png" class="img-fluid" alt="" />
                                    </div>
                                </a>
                                <div class="details">
                                    <h4 class="m-0" id="getmonn">Monthly Attendance - <% var dfd=new Date();
                                    var months=["January", "February" , "March" , "April" , "May" , "June" , "July" , "August" , "September" , "October" , "November" , "December" ];%> <%=months[dfd.getMonth()]; %> <%=dfd.getFullYear(); %>
                                    </h4>
                                    <p class="m-0">Attendance Report of Your Organization</p>
                                </div>
                                <ul class="d-flex topInputs">


                                    <form action="/getmonthlyattendance" method="post" class="form-horizontal">

                                        <li class="mr-1">
                                            <div class="input-group">

                                                <% var selectr=moment().format("DD-MM-YYYY"); var
                                                    selectrmon=moment().format("YYYY-MM-DD HH:mm:ss"); %>

                                                    <select id="year" name="startyear" class="form-control"></select>
                                                    <select id="month" name="startdate" class="form-control"></select>

                                                    <div class="input-group-prepend">

         <button type="submit" onclick="spinner()" style="background-color: #262d47 !important;color: #fff;">
                 <i style="font-size: 1.2rem;margin-top: 5px; font-weight: bolder;  margin-top: 5px;" class="la la-search fa-lg"></i>
                                                        </button>
                                                    </div>
                                            </div>
                                        </li>

                                    </form>

                                </ul>
                            </div>

                            <div class="blocks tabContainers mb-0 dailyInOutTable">
                                <div class="table-responsive" style="    border-left: 1px solid #ccc8;
                    border-right: 1px solid #ccc8;">
                                    <table  id="example" class="mb-0 table-bordered table" style="min-width: 3000px;">
                                        <thead>
                                            <tr>
                                                <th class="bt-0"
                                                    style="padding: .5rem !important; width: 200px !important;">Employee
                                                </th>
                                                <% var dt=new Date();
                                                 var month=dt.getMonth();
                                                 var year=dt.getFullYear();
                                                 daysInMonth=new Date(year, month,0).getDate();
                                                  if(daysInMonth){
                                                      for(var g=1; g <=daysInMonth; g++) {
                                                    %>
                                      <th class="bt-0 p_0" style="width:60px !important; text-align:center;">
                                                        <div class="t_date">
                                                            <%= g; %>
                                                        </div>

                                                    </th>

                                                    <% } } %>



                                                        <th class="bt-0"
                                                            style="width:300px !important; text-align:center; padding: .5rem !important;">
                                                            Total Present</th>
                                                        <th class="bt-0"
                                                            style="width:300px !important; text-align:center; padding: .5rem !important;">
                                                            Total Absent</th>
                                                        <th class="bt-0"
                                                            style="width:300px !important; text-align:center; padding: .5rem !important;">
                                                            Total Leave</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <% if(monthlyattendance.user.length> 0){
                                                var startdate = new Date();
                                                var nows = moment(startdate).format('D');
  for(var i=0; i < monthlyattendance.user.length; i++) {
      var present=0;
                       var absent=0; var userstring=monthlyattendance.user[i].split('_');
                                                    var srr=userstring[1].split(' ');

                            var res = srr[0].substring(0, 1);
                            var nres = srr[1].substring(0, 1);  %>
                                <tr>
                                    <th class="align-middle" style="padding: .5rem !important;">
                                    <span class="firstName bg-dark">
                                    <%=res %><%=nres %></span>
                                    <a href="<%= process.env.APP_URL %>/viewdetail/<%= userstring[0] %>"> <%= userstring[1]; %></a>
                                    </th>
                       <% if(daysInMonth){
                             var d = new Date();
                       var df=d.getDate();


                        for(var g=1; g <= daysInMonth; g++) {  %>
                            <td class="align-middle p_0 text-center"> <%
                                 var y=0;
                             if(monthlyattendance.data.length > 0){

                            for(var s=0; s < monthlyattendance.data.length; s++) {
  var datt=moment(monthlyattendance.data[s].punch_in).format(' D');
  if(monthlyattendance.data[s].userId==userstring[0] && datt==g){
       var ms='' ;
        if(monthlyattendance.data[s].punch_in!==null && monthlyattendance.data[s].punch_out !==null){
            ms=moment.utc(monthlyattendance.data[s].duration*1000).format("HH:mm");}

            if(monthlyattendance.data[s].punch_in !==null && monthlyattendance.data[s].punch_out==null && g==nows){
                                                        var startdater=new Date();
                                                        var now=moment(startdater).format('DD/MM/YYYY HH:mm:ss');
                var then=moment(monthlyattendance.data[s].punch_in).format('DD/MM/YYYY HH:mm:ss');

           ms=moment.utc(moment(now,"DD/MM/YYYY HH:mm:ss").diff(moment(then,"DD/MM/YYYY HH:mm:ss"))).format("HH:mm");
           } if(ms!="" ){
                present++; y=1;
           %>
                                         <%= ms; %>
                                                            <% } }else {


                                                            } } }
                                                            if(y==0 && g<=nows ){ absent++;  %>
                                                            <span style="color:red;">A</span>
                                                                    <% } %>
                                                                        </td>
                                                                        <% } } %>

                                                                            <td class="align-middle">
                                                                                <div style="text-align: center;">
                                                                                    <%= present; %>
                                                                                </div>
                                                                            </td>
                                                                            <td class="align-middle">
                                                                                <div style="text-align: center;">
                                                                                    <% var rem=df-present; %>
                                                                                        <%=rem; %>
                                                                                </div>
                                                                            </td>
                                                                            <td class="align-middle">
                                                                                <div style="text-align: center;"></div>
                                                                            </td>
                                                                            </tr>
                                                                            <% } } %>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ////////////////////////////////////////////////////////////////////////////-->


     <% // include('../partials/footer'); %>