<%- include('../partials/header'); %>

    <body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-chartbg" data-col="2-columns">
        <%- include('../partials/nav'); %>

        

<%- include('../partials/left'); %>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script> 


<script>

   
    
    $(document).on('click','.dropplan',function (e){

        var df=this.id;
  
    
    $('#dropplan').modal('show');

    e.preventDefault();
     $('#dropplan').modal('show').find('.modal-body').load($(this).attr('href'));
    
    });
    </script>


<div class="modal fade" id="dropplan">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
<h5 class="modal-title">Invoice Detail</h5>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
   
        </div>

        <!-- Modal footer -->



      </div>
    </div>
  </div> 
  
  <script type="text/javascript">
    function spinner() {

        document.getElementsByClassName("loader")[0].style.display = "block";
    }
</script>

<script>
    // Disable form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Get the forms we want to add validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            document.getElementsByClassName("loader")[0].style.display = "block";
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
              document.getElementsByClassName("loader")[0].style.display = "none";
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>
    
                <div class="app-content content">
                    <div class="content-wrapper">
                        <!--
                        <div class="content-wrapper-before"></div>-->
                        <div class="content-header row">
                        </div>
                        <div class="content-body">

                            <!-- Table head options start -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Orders / Invoices </h4>
                                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                            <div class="heading-elements">
                                                <ul class="list-inline mb-0">
                                                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                                    <li><a data-action="close"><i class="ft-x"></i></a></li>
                                                </ul>
                                             
                                        
                                            </div>
                                        </div>
                                        <div class="card-content collapse show">
                                            <div class="card-body">
                                                <% if (locals.messages) { %>
                                                    <div class="alert alert__success " style="color:red; ">
                                                        <%= messages.error %>
                                                    </div>
                                                    <% } %>
                                            </div>
                                            <div class="table-responsive">

                                                <table class="table">
                                                    <thead class="thead-dark">
                                                      <tr>
                                          <th scope="col">#</th>
                                          <th scope="col">Company Detail</th>
                                          <th scope="col" style="width: 12%;">Invoice ID</th>
                                          <th scope="col" style="width: 15%;">Invoice Date</th>
                                           <th scope="col" style="width: 16%;">Payment Date</th>
                                            <th scope="col">Status</th>
                                             <th scope="col" style="width: 10%;">Amount</th>
                                            <th scope="col" >Action</th>
                                                    
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                        <%  if(userlist.data.length > 0){
                                                             var s=1; 
                                        for(var i=0; i < userlist.data.length; i++) { %>
                                                            <tr>
                                                 <th scope="row"><%= s++; %></th>
                                             <td><b><%= userlist.data[i].user['companyname']; %></b><% if(userlist.data[i].user['status']=="Y"){  %>
                                                <i class="la la-check-circle-o" style="color: green;
                                                   font-weight: bold;
                                                   font-size: 14px;">verified</i> <% } %><br><a href="mailto:<%= userlist.data[i].user['email']; %>"><%= userlist.data[i].user['email']; %></a><br>
                                                   <% if(userlist.data[i].plan['name']){ %>
                                                     
                      <span style="color:green;"><%= userlist.data[i].plan['name'];  %></span>
                                                  <% } %></td>
                                             <td>
                                               
                                                    <%= userlist.data[i].order_id;   %>    
                                                   
                                                  </td>
                                                  
                                                  <td>
                                                    <%    var strs=userlist.data[i].createdAt; 
                                                    var strsu=userlist.data[i].updatedAt; %>
                                                    <%= moment(strs).format('DD-MM-YYYY') %> 
                                                      
                                                   
                                                  </td>
                                                  
                                                  <td>     <% if(userlist.data[i].plan['id']==5){ %>  <%= moment(strs).format('DD-MM-YYYY') %>  <% }else if(userlist.data[i].payment_id){ %>
                                                    <%= moment(strsu).format('DD-MM-YYYY') %>

                                                    <%  } %></td>
                                                  <td>  <% if(userlist.data[i].status=="Y"){  %>
<span style="color:green;">Paid</span>

                                                    <% }else{ %><span style="color:red;">Pending</span> <% } %>  
                                                  </td>
                                                  <td>₹&nbsp;<%= userlist.data[i].payment_detail;   %>    
                                                   
                                                  </td>
                                                  
                                                  <td>
                                                    <% if(userlist.data[i].plan['id']!=5){ %>
                        <a class="dropdown-item dropplan" href="<%= process.env.APP_URL %>/getinvoice/<%= userlist.data[i].id %>" style="color:red;"> View</a>   
                        <% }else{ %> -- <% } %>     
                                                  </td>
     
                                                            </tr>
                                                            <% } }else{ %>
                                                                <tr>

                                                                    <td class=" text-center " colspan=" 7 " style="color:red; ">
                                                                        No Users Listed Yet
                                                                    </td>
                                                                </tr>
                                                                <% }  %>


                                                    </tbody>
                                                </table>




                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Table head options end -->
                        </div>
                    </div>
                </div>
                <!-- ////////////////////////////////////////////////////////////////////////////-->






                <script>
                    // Disable form submissions if there are invalid fields
                    (function() {
                      'use strict';
                      window.addEventListener('load', function() {
                        // Get the forms we want to add validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function(form) {
                          form.addEventListener('submit', function(event) {
                            $('.preloader').show();
                            if (form.checkValidity() === false) {
                              event.preventDefault();
                              event.stopPropagation();
                              $('.preloader').hide();
                            }
                            form.classList.add('was-validated');
                          }, false);
                        });
                      }, false);
                    })();
                    </script>
                    
            
                <%- include('../partials/footer'); %>