<%- include('../partials/header'); %>

    <body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-chartbg" data-col="2-columns">
        <%- include('../partials/nav'); %>
        <%- include('../partials/left'); %>
                <div class="app-content content">
                    <div class="content-wrapper">
                        <!--
                        <div class="content-wrapper-before"></div>-->
                        <div class="content-header row">
                        </div>
                        <div class="content-body">
                       <!-- Table head options start -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Listed Plan </h4>
                                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                            <div class="heading-elements">
                                                <ul class="list-inline mb-0">
                                                   <!-- <li> <a type="button" href="/planadd" class="btn btn-outline-primary btn-min-width btn-glow mr-1 mb-1"><i class="la la-plus"></i> Add Plan
                                                    </a></li>-->
                                                </ul>
                                               
                                            </div>
                                          
                                        </div>
                                        <div class="card-content collapse show">
                                            <div class="card-body">
                                                <% if (locals.messages) { %>
                                                    <div class="alert alert__success " style="color:red; ">
                                                        <%= messages.error %>
                                                    </div>
                                                    <% } %>
                                            </div>
                                            <div class="table-responsive">

                                                <table class="table">
                                                    <thead class="thead-default">
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Name</th>
                                                            <th scope="col">Price</th>
                                                            <th scope="col">Description</th>
                                                            <th scope="col">Status</th>
                                                            <th scope="col">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                        <%  if(plan.data.length > 0){
                                                             var s=1; 
                                        for(var i=0; i < plan.data.length; i++) { %>
                                                            <tr>
                                                 <th scope="row"><%= s++; %></th>
                                             <td><%= plan.data[i].name; %></td>
                                             
                                             <td>₹ <%= plan.data[i].price; %></td>
                                             <td><ul><li>Time Tracking</li>
                                                <li>Automated Attendance</li>
                                                <li>Productivity Measurements</li>
                                                <li>BI reports</li>
                                                <li>Engagement Tracking</li>
                                                <li>Automated Screenshots</li>
                                                <li>Project Management</li>
                                                <li>Task Management</li>
                                                <li>User Import</li>
                                                <li>Leave Management</li>
                                                <li>Dedicated Account Manager</li>
                                                <li>Live Product Training</li>
                                                <li>User Logs</li>
                                                <li>24x7 Technical Support</li>
                                                <li>Cross Platform</li>
                                            </ul></td>
<td>
    <% if(plan.data[i].status=="Y"){  %>
        <i style="color:green" class="la la-toggle-on"></i>
      <!-- <a  href="<%= process.env.APP_URL %>/planupdatestatus/<%= plan.data[i].id %>/N" onclick="return confirm('Do you really want to inactive this Plan?');" title="InActivate Plan?" style="color:rgb(224, 35, 44)" ></a>
      -->
        <% }else{ %>
          
            <% } %>
          </td>
        <td> 
            <a onclick="spinner()" href="<%= process.env.APP_URL %>/planedit/<%= plan.data[i].id %>" title="Edit Plan" style="color:rgb(41, 211, 19)" ><i style="color:red" class="la la-edit"></i></a>
           <!-- <a  href="<%= process.env.APP_URL %>/planupdatedelete/<%= plan.data[i].id %>" onclick="return confirm('Do you really want to delete this Plan?');" title="Delete Plan?" style="color:rgba(207, 112, 117, 0.842)" > <i style="color:red" class="la la-trash-o"></i></a>   -->

    </td>
           </tr>
<% } }else{ %>
<tr>
<td class="text-center" colspan="4" style="color:red; ">
   No Plan Listed Yet
 </td>
</tr>
<% }  %>


                                                    </tbody>
                                                </table>




                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Table head options end -->
                        </div>
                    </div>
                </div>
                <!-- ////////////////////////////////////////////////////////////////////////////-->






          
                <%- include('../partials/footer'); %>