<%- include('../partials/header'); %>

    <body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-chartbg" data-col="2-columns">
        <%- include('../partials/nav'); %>
            <%- include('../partials/left'); %>


            
    <!-- Change Password Popup Start -->
    <div class="modal fade" id="addRemoveUserModal" tabindex="-1" role="dialog" aria-labelledby="addRemoveUserModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addRemoveUserModalLabel">Add / Remove User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <label class="mb-1">Assign To User</label>
                        <select class="form-control mb-2">
                            <option>User 1</option>
                            <option>User 2</option>
                            <option>User 3</option>
                            <option>User 4</option>
                            <option>User 5</option>
                            <option>User 6</option>
                        </select>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary border-0" style="background:#ed4724 !important;">Update</button>
                    </form>
                </div>


                <div class="userListsPopup">
                    <ul class="d-flex align-items-center ">
                        <li class="userName">SS</li>
                        <li class="flex-fill">
                            <p><b>Sushil Sharma</b></p>
                            <p>sushil@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>

                    <ul class="d-flex align-items-center ">
                        <li class="userName">RC</li>
                        <li class="flex-fill">
                            <p><b>Ritesh Chhipa</b></p>
                            <p>ritesh@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>
                    <ul class="d-flex align-items-center ">
                        <li class="userName">SS</li>
                        <li class="flex-fill">
                            <p><b>Sushil Sharma</b></p>
                            <p>sushil@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>

                    <ul class="d-flex align-items-center ">
                        <li class="userName">RC</li>
                        <li class="flex-fill">
                            <p><b>Ritesh Chhipa</b></p>
                            <p>ritesh@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>
                    <ul class="d-flex align-items-center ">
                        <li class="userName">SS</li>
                        <li class="flex-fill">
                            <p><b>Sushil Sharma</b></p>
                            <p>sushil@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>

                    <ul class="d-flex align-items-center ">
                        <li class="userName">RC</li>
                        <li class="flex-fill">
                            <p><b>Ritesh Chhipa</b></p>
                            <p>ritesh@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>
                    <ul class="d-flex align-items-center ">
                        <li class="userName">SS</li>
                        <li class="flex-fill">
                            <p><b>Sushil Sharma</b></p>
                            <p>sushil@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>

                    <ul class="d-flex align-items-center ">
                        <li class="userName">RC</li>
                        <li class="flex-fill">
                            <p><b>Ritesh Chhipa</b></p>
                            <p>ritesh@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>
                    <ul class="d-flex align-items-center ">
                        <li class="userName">SS</li>
                        <li class="flex-fill">
                            <p><b>Sushil Sharma</b></p>
                            <p>sushil@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>

                    <ul class="d-flex align-items-center ">
                        <li class="userName">RC</li>
                        <li class="flex-fill">
                            <p><b>Ritesh Chhipa</b></p>
                            <p>ritesh@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>
                    <ul class="d-flex align-items-center ">
                        <li class="userName">SS</li>
                        <li class="flex-fill">
                            <p><b>Sushil Sharma</b></p>
                            <p>sushil@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>

                    <ul class="d-flex align-items-center ">
                        <li class="userName">RC</li>
                        <li class="flex-fill">
                            <p><b>Ritesh Chhipa</b></p>
                            <p>ritesh@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>
                    <ul class="d-flex align-items-center ">
                        <li class="userName">SS</li>
                        <li class="flex-fill">
                            <p><b>Sushil Sharma</b></p>
                            <p>sushil@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>

                    <ul class="d-flex align-items-center ">
                        <li class="userName">RC</li>
                        <li class="flex-fill">
                            <p><b>Ritesh Chhipa</b></p>
                            <p>ritesh@doomshell.com</p>
                        </li>
                        <li>
                            <i class="la la-close"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Change Password Popup End -->

    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <div class="blocks userDetails">
                    <div class="userIcon">
                        <img src="/assets/images/ic_task.png" class="img-fluid" alt="" />
                    </div>
                    <div class="details">
                        <h4 class="m-0">Presence</h4>
                        <p class="m-0">View the attendance pattern of your Organization</p>
                    </div>
                    <ul class="d-flex topInputs">
                     
                        <li class="mr-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="la la-calendar-o"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" placeholder="2021-05-30 - 2021-06-28" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </li>
                        <li>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="la la-refresh"></i>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
<%     var date = new Date();
var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
var alldate=[];

var first=firstDay.getDate();
var last=lastDay.getDate();
var  months = ["January", "February", "March", "April", "May", "July", "July", "August", "September", "October", "November", "December"];

var monthName=months[date.getMonth()];
for (var i=first;i<=last; i++) {

    alldate[i]=i;
}



if(alldate.length > 0){
var Data = alldate.filter(function (el) {
    return el != null;
  });
}
%>

<% var dt = new Date();
var month = dt.getMonth();
var year = dt.getFullYear();
daysInMonth = new Date(year, month, 0).getDate();
var presents=[];
if(companytask.monthlyu.length > 0){


if(daysInMonth){



    for(var g=1; g <= daysInMonth; g++) { 
        var present =0;

        if(companytask.monthlyu.length > 0){

            for(var s=0; s < companytask.monthlyu.length; s++) {
              
                var datt=moment(companytask.monthlyu[s].punch_in).format('D');
        
                if(datt==g){ 
                    
                if(companytask.monthlyu[s].punch_in){
                    present++;


                }

            }

        }
        presents[g]=present;


    }




     } 
    } 
     } 
     console.log(presents.length);
     if(presents.length > 0){
     var filtered = presents.filter(function (el) {
        return el != null;
      });
    }
    %>




                <div class="blocks">
                    <h4 class="m-0 mb-2">Attendance Change Over Time</h4>
                    <div class="d-flex">
                        <div class="attendanceTile">
                            <ul class="trendTile">
                                <li>
                                    <p>Attendance</p>
                                    <h4>54.22%</h4>
                                    <p>Last 30 Days</p>
                                </li>
                                <li>
                                    <p>Current Period</p>
                                    <h4><%= dt.getDate(); %></h4>
                                    <p>Last 30 Days</p>
                                </li>
                            </ul>
                        </div>
                        <div class="flex-fill">
                            <div id="container" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="blocks">
                            <h4 class="m-0 mb-2 pperesnt text-dark">
                                <% var su=0; if(companytask.data.length > 0){
                                    su += companytask.data.length;
                                } %>
                                <span><%= su; %></span> Present </h4>
                            <div class="d-flex flex-wrap">
                                <%  if(companytask.data.length > 0){
                                   var rty=[];
                                   for(var ss=0; ss < companytask.data.length; ss++) {
                                    rty[ss]=companytask.data[ss].userId;

                                  } }
                              %>




            <%  if(companytask.data.length > 0){
                var s=1; 
               for(var i=0; i < companytask.data.length; i++) { %>
           <div class="apTile">
                                    <div class="appTileContent">
                                        <span class="firstName bg-danger">
                                         <% var srr=companytask.data[i].user.firstname; 
                                            var snerr=companytask.data[i].user.lastname; 
                                            var res = srr.substring(0, 1); var nres = snerr.substring(0, 1);  %> <%=res %> <%=nres %></span>
                                        <p><%= companytask.data[i].user.firstname; %> <%= companytask.data[i].user.lastname; %></p>
                                    </div>
                                </div>
                                <% } }else{ %>
                                    <div class="apTile">
                                        <div class="appTileContent">
                                            <span class="firstName bg-danger">--</span>
                                            <p>No User</p>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blocks">
                            <h4 class="m-0 mb-2 aabsent text-dark"> <% var sus=0; 
                                if(companytask.getuse.length > 0){
                                    for(var i=0; i < companytask.getuse.length; i++) { 
                                if(!in_array(companytask.getuse[i].id, rty)){
                                sus ++;
                             } } } %>
                            <span><%= sus; %></span> Absent </h4>
                            <div class="d-flex flex-wrap">
                                <% 
                            if(companytask.getuse.length > 0){

                                    
                                   
                                   for(var i=0; i < companytask.getuse.length; i++) { 
                                       if(!in_array(companytask.getuse[i].id, rty)){ %>

                                    <div class="apTile">
                                        <div class="appTileContent">
                                            <span class="firstName bg-danger">
                                             <% var srr=companytask.getuse[i].firstname; 
                                                var snerr=companytask.getuse[i].lastname; 
                                                if(srr){
                                                var res = srr.substring(0, 1); var nres = snerr.substring(0, 1);  %> <%=res %> <%=nres %> <% } %> </span>
                                            <p><%= companytask.getuse[i].firstname; %> <%= companytask.getuse[i].lastname; %></p>
                                        </div>
                                    </div>
                                    <% } } }else{ %>
                                        <div class="apTile">
                                            <div class="appTileContent">
                                                <span class="firstName bg-danger">--</span>
                                                <p>No User</p>
                                            </div>
                                        </div>
                                        <% } %>



                                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->

   


                <%- include('../partials/footer'); %>



 <script>
     $(function() {
         $('#container').highcharts({
             title: {
                 text: '',
                 x: 0
             },
             subtitle: {
                 text: '',
                 x: 0
             },
             navigation: {
                 buttonOptions: {
                     enabled: false
                 }
             },
             xAxis: {
                 categories: [<%= Data %>]
             },
             yAxis: {
                 title: {
                     text: ''
                 },
                 plotLines: [{
                     value: 0,
                     width: 1,
                     color: '#808080'
                 }]
             },
             tooltip: {
                 borderColor: '#FFDD90',
                 borderRadius: '3',
                 borderWidth: '1',
                 backgroundColor: '#FFFAD3',
                 formatter: function() {
                     return '<strong>' + this.y + '</strong>';
                 }
             },
             legend: {
                 enabled: false
             },
             credits: {
                 enabled: false
             },
             plotOptions: {
                 area: {
                     fillColor: '#9FDBF7',
                     lineWidth: 3,
                     marker: {
                         enabled: true,
                         fillColor: '#FFF',
                         lineColor: '#4ABDF1',
                         lineWidth: 2
                     },
                     shadow: false,
                     states: {
                         hover: {
                             lineWidth: 3
                         }
                     },
                     threshold: null
                 }
             },
             series: [{
                 name: '',
                 type: 'area',
                 color: '#4ABDF1',
                 data: [<%= filtered %>]
             }]
         });
     });
 </script>