
   <%- include('../partials/header'); %>
   <body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-chartbg" data-col="2-columns">
           <%- include('../partials/nav'); %>
           <%- include('../partials/left'); %>
       
           <script src="/theme-assets/js/jquery.avatarme-1.0.min.js"></script>
           <link rel="stylesheet" href="/theme-assets/css/avatar.css">
   
<script>    jQuery(function($){
                 var $userName = $('.user-name');
                 if ($userName.length) {
                   $userName.avatarMe({
                     className: 'avatar-me',
                     maxChar: 1
                   });
                 }
               });
   </script>
           <script type="text/javascript" src="/theme-assets/js/jquery.formatCurrency-1.4.0.min.js"></script>
           <script> $(function () {
             $(".currency").blur(function () {
               $(".currency").html(null), $(this).formatCurrency({
                 colorize: !0,
                 symbol: "",
                 negativeFormat: "-%s%n",
                 roundToDecimalPlace: -1
               })
             }).keyup(function (e) {
               var e = window.event || e,
                 a = e.charCode || e.keyCode;
               if (110 != a && 229 != a && 190 != a && 46 != a && 45 != a && a > 31 && (96 > a || a > 105) && (48 > a || a > 57) && $(".currency").val(""), void 0 !== e) switch (a) {
                 case 16:
                   break;
                 case 17:
                   break;
                 case 18:
                   break;
                 case 27:
                   this.value = "";
                   break;
                 case 35:
                   break;
                 case 36:
                   break;
                 case 37:
                   break;
                 case 38:
                   break;
                 case 39:
                   break;
                 case 40:
                   break;
                 case 78:
                   break;
                 case 110:
                   break;
                 case 190:
                   break;
                 default:
                   $(this).formatCurrency({
                     colorize: !0,
                     negativeFormat: "-%s%n",
                     roundToDecimalPlace: -1,
                     eventOnDecimalsEntered: !1
                   })
               }
             }).bind("decimalsEntered", function (e, a) {
               var t = "Please do not enter any cents (0." + a + ")";
               alert(t), log("Event on decimals entered:" + t)
             });
           });
           </script>
   <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <div class="blocks userDetails">
                    <a href="./task.html">
                        <div class="userIcon">
                            <img src="/assets/images/ic_daily_attendance.png" class="img-fluid" alt="" />
                        </div>
                    </a>
                    <div class="details">
                        <h4 class="m-0">Productivity</h4>
                        <p class="m-0">See Deep insights on overall productivity of your employee</p>
                    </div>
                    <ul class="d-flex topInputs">
                        <a href="#" class="downloadButton"><i class="la la-download"></i> Download CSV</a>
                        
                        <li class="mr-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="la la-calendar-o"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" placeholder="2021-05-30 - 2021-06-28" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </li>
                        <li>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="la la-refresh"></i>
                                </span>
                            </div>
                        </li>
                        <!-- <a href="#" data-toggle="modal" data-target="#addProjectModal" class="downloadButton btn-success text-white ml-1 mr-0">
                            Add New Leave
                        </a> -->
                    </ul>
                </div>

                

                <div class="blocks tabContainers mb-0">
                    <div class="d-flex align-items-start">
                        <!-- <div class="userProfilez snapShotLeft">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-0" id="basic-addon1">
                                        <i class="la la-search"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control rounded-0" placeholder="Tap to Search" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <h4>Employee</h4>

                            <ul class="ssUserList">
                                <li><a href="#"><span class="firstName bg-dark">DA</span> Deepak Athwani</a></li>
                                <li><a href="#"><span class="firstName bg-danger">DS</span> Dheerendra Solanki</a></li>
                                <li><a href="#"><span class="firstName bg-success">DS</span> Dilip Sharma</a></li>
                                <li><a href="#"><span class="firstName bg-primary">DB</span> Dinesh Binjarniya</a></li>
                                <li><a href="#"><span class="firstName bg-warning">GK</span> Gajanand Kumawat</a></li>
                                <li><a href="#"><span class="firstName bg-info">KJ</span> Kailash Jhuria</a></li>
                                <li><a href="#"><span class="firstName bg-primary">LK</span> Lokesh Kumawat</a></li>
                                <li><a href="#"><span class="firstName bg-danger">MS</span> Manish Shahu</a></li>
                                <li><a href="#"><span class="firstName bg-warning">MC</span> Manish Chaudhary</a></li>
                                <li><a href="#"><span class="firstName bg-dark">DA</span> Deepak Athwani</a></li>
                                <li><a href="#"><span class="firstName bg-danger">DS</span> Dheerendra Solanki</a></li>
                                <li><a href="#"><span class="firstName bg-success">DS</span> Dilip Sharma</a></li>
                                <li><a href="#"><span class="firstName bg-primary">DB</span> Dinesh Binjarniya</a></li>
                                <li><a href="#"><span class="firstName bg-warning">GK</span> Gajanand Kumawat</a></li>
                                <li><a href="#"><span class="firstName bg-info">KJ</span> Kailash Jhuria</a></li>
                                <li><a href="#"><span class="firstName bg-primary">LK</span> Lokesh Kumawat</a></li>
                                <li><a href="#"><span class="firstName bg-danger">MS</span> Manish Shahu</a></li>
                                <li><a href="#"><span class="firstName bg-warning">MC</span> Manish Chaudhary</a></li>
                            </ul>
                        </div> -->

                        <div class="productivityContainer flex-fill">
                            <!-- Bar charts section start -->
                            <!-- <div class="graph-container">
                                <svg></svg>
                                <div class="tooltip"></div>
                            </div> -->
                            <!-- // Bar charts section end -->

       <%  if(companytask.datatotal.length > 0){
                    
                 

           for(var i=0; i < companytask.datatotal.length; i++) {
                                   var totalworkingDisplays="00";
                                   var mtotalworkingDisplays="00";
                                   var stotalworkingDisplays="00";
                
                                   var  productinfoDisplays="00";
                                   var mproductinfoDisplays="00";
                                   var sproductinfoDisplays="00"; 
           
           
                                   var  idleinfoDisplays="00";
                                   var midleinfoDisplays="00";
                                   var sidleinfoDisplays="00"; 
           
           
                                   var totalproductinfos=0;
                                   var totalidles=0;
                                   var totalworkings=0;
                                   var percentagefs='0';
                                   var totalproductinfos= Math.floor(companytask.datatotal[i].productivitytime /1000);
                                   var totalidles= Math.floor(companytask.datatotal[i].totalIdleMinutes /1000);
                                    var totalworkings=totalproductinfos+totalidles;
                                                   var dtotalworkings = Number(totalworkings);
                                                  
                                                   var htotalworkings = Math.floor(dtotalworkings / 3600);
                                                
                                                   var mtotalworkings = Math.floor(dtotalworkings % 3600 / 60);
                                               var stotalworkings = Math.floor(dtotalworkings % 3600 % 60);  
                                                   var totalworkingDisplays = htotalworkings > 0 ? (htotalworkings > 9 ? htotalworkings : "0"+htotalworkings) + (htotalworkings == 1 ? "" : "") : "00";
                                                 
                                                   var mtotalworkingDisplays = mtotalworkings > 0 ? (mtotalworkings > 9 ? mtotalworkings : "0"+mtotalworkings) + (mtotalworkings == 1 ? "" : "") : "00";
                                                   
                                                   var stotalworkingDisplays = stotalworkings > 0 ? (stotalworkings > 9 ? stotalworkings : "0"+stotalworkings) + (stotalworkings == 1 ? "" : "") : "00";
           
           
           
                                                   //productivity
                                                   var dproductinfos = Number(totalproductinfos);
                                                  
                                                   var hproductinfos = Math.floor(dproductinfos / 3600);
                                                
                                                   var mproductinfos = Math.floor(dproductinfos % 3600 / 60);
                                                   var sproductinfos = Math.floor(dproductinfos % 3600 % 60); 
                                                   var productinfoDisplays = hproductinfos > 0 ? (hproductinfos > 9 ? hproductinfos : "0"+hproductinfos) + (hproductinfos == 1 ? "" : "") : "00";
                                                 
                                                   var mproductinfoDisplays = mproductinfos > 0 ? (mproductinfos > 9 ? mproductinfos : "0"+mproductinfos) + (mproductinfos == 1 ? "" : "") : "00";
                                                   
                                                   var sproductinfoDisplays = sproductinfos > 0 ? (sproductinfos > 9 ? sproductinfos : "0"+sproductinfos) + (sproductinfos == 1 ? "" : "") : "00";
           
                                                   //idealtime
                                                   var didleinfos = Number(totalidles);
                                                  
                                                   var hidleinfos = Math.floor(didleinfos / 3600);
                                                
                                                   var midleinfos = Math.floor(didleinfos % 3600 / 60);
                                                   var sidleinfos = Math.floor(didleinfos % 3600 % 60); 
                                                   var idleinfoDisplays = hidleinfos > 0 ? (hidleinfos > 9 ? hidleinfos : "0"+hidleinfos) + (hidleinfos == 1 ? "" : "") : "00";
                                                 
                                                   var midleinfoDisplays = midleinfos > 0 ? (midleinfos > 9 ? midleinfos : "0"+midleinfos) + (midleinfos == 1 ? "" : "") : "00";
                                                   
                                                   var sidleinfoDisplays = sidleinfos > 0 ? (sidleinfos > 9 ? sidleinfos : "0"+sidleinfos) + (sidleinfos == 1 ? "" : "") : "00";
           
           
                                         var percentagefs=(Number(dproductinfos)*100)/Number(dtotalworkings);
                                   
                                         var percentagefs=Math.round(percentagefs).toFixed(2);  
                                         
                                         if(percentagefs >100){
                                          percentagefs="100";
                                        } 
                                        percentagefs=percentagefs;
                                   %>                                        
                                           
                                   

                                   <div class="row">
                                    <div class="col-md-3 col-sm-6 col-12">
                                        <div class="alert alert-success">
                                            <p>Productivity</p>
                                            <p class="font-weight-bold"><span><%= percentagefs; %></span> %</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-12">
                                        <div class="alert alert-danger">
                                            <p>Total Work Time</p>
                                            <p class="font-weight-bold"><span><%= totalworkingDisplays+':'+mtotalworkingDisplays+':'+stotalworkingDisplays; %></span> hh:mm:ss</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-12">
                                        <div class="alert alert-warning">
                                            <p>Total Idle Time</p>
                                            <p class="font-weight-bold"><span><%= idleinfoDisplays+':'+midleinfoDisplays+':'+sidleinfoDisplays; %></span> hh:mm:ss</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-12">
                                        <div class="alert alert-info">
                                            <p>Total Productivity Time</p>
                                            <p class="font-weight-bold"><span><%= productinfoDisplays+':'+mproductinfoDisplays+':'+sproductinfoDisplays; %></span> hh:mm:ss</p>
                                        </div>
                                    </div>
                                </div>
                     
                                                   <% } } %>




                            

                            <div class="table-responsive">
                                <table id="zero_config87" class="table table-striped table-bordered no-wrap">
                                    <thead>
                                        <tr>
                                            <th>Employee </th>
                                            <th>Working Time</th>
                                            <th>Idle Time</th>
                                            <th>Productive Time</th>
                                            <th>Productive %</th>
                                            <th>Key Press</th>
                                            <th>Mouse Clicked</th>
                                            <th>Mouse Moved</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                <%  if(companytask.data.length > 0){
                    
                 

                     for(var i=0; i < companytask.data.length; i++) {
                        var totalworkingDisplay="00";
                        var mtotalworkingDisplay="00";
                        var stotalworkingDisplay="00";
     
                        var  productinfoDisplay="00";
                        var mproductinfoDisplay="00";
                        var sproductinfoDisplay="00"; 


                        var  idleinfoDisplay="00";
                        var midleinfoDisplay="00";
                        var sidleinfoDisplay="00"; 


                        var totalproductinfo=0;
                        var totalidle=0;
                        var totalworking=0;
                        var percentagef='0';
                        var totalproductinfo= Math.floor(companytask.data[i].productivitytime /1000);
                        var totalidle= Math.floor(companytask.data[i].totalIdleMinutes /1000);
                         var totalworking=totalproductinfo+totalidle;
                                        var dtotalworking = Number(totalworking);
                                       
                                        var htotalworking = Math.floor(dtotalworking / 3600);
                                     
                                        var mtotalworking = Math.floor(dtotalworking % 3600 / 60);
                                    var stotalworking = Math.floor(dtotalworking % 3600 % 60);  
                                        var totalworkingDisplay = htotalworking > 0 ? (htotalworking > 9 ? htotalworking : "0"+htotalworking) + (htotalworking == 1 ? "" : "") : "00";
                                      
                                        var mtotalworkingDisplay = mtotalworking > 0 ? (mtotalworking > 9 ? mtotalworking : "0"+mtotalworking) + (mtotalworking == 1 ? "" : "") : "00";
                                        
                                        var stotalworkingDisplay = stotalworking > 0 ? (stotalworking > 9 ? stotalworking : "0"+stotalworking) + (stotalworking == 1 ? "" : "") : "00";



                                        //productivity
                                        var dproductinfo = Number(totalproductinfo);
                                       
                                        var hproductinfo = Math.floor(dproductinfo / 3600);
                                     
                                        var mproductinfo = Math.floor(dproductinfo % 3600 / 60);
                                        var sproductinfo = Math.floor(dproductinfo % 3600 % 60); 
                                        var productinfoDisplay = hproductinfo > 0 ? (hproductinfo > 9 ? hproductinfo : "0"+hproductinfo) + (hproductinfo == 1 ? "" : "") : "00";
                                      
                                        var mproductinfoDisplay = mproductinfo > 0 ? (mproductinfo > 9 ? mproductinfo : "0"+mproductinfo) + (mproductinfo == 1 ? "" : "") : "00";
                                        
                                        var sproductinfoDisplay = sproductinfo > 0 ? (sproductinfo > 9 ? sproductinfo : "0"+sproductinfo) + (sproductinfo == 1 ? "" : "") : "00";

                                        //idealtime
                                        var didleinfo = Number(totalidle);
                                       
                                        var hidleinfo = Math.floor(didleinfo / 3600);
                                     
                                        var midleinfo = Math.floor(didleinfo % 3600 / 60);
                                        var sidleinfo = Math.floor(didleinfo % 3600 % 60); 
                                        var idleinfoDisplay = hidleinfo > 0 ? (hidleinfo > 9 ? hidleinfo : "0"+hidleinfo) + (hidleinfo == 1 ? "" : "") : "00";
                                      
                                        var midleinfoDisplay = midleinfo > 0 ? (midleinfo > 9 ? midleinfo : "0"+midleinfo) + (midleinfo == 1 ? "" : "") : "00";
                                        
                                        var sidleinfoDisplay = sidleinfo > 0 ? (sidleinfo > 9 ? sidleinfo : "0"+sidleinfo) + (sidleinfo == 1 ? "" : "") : "00";


                               var percentagef=(Number(dproductinfo)*100)/Number(dtotalworking);
                        
                                   var  percentagef=Math.round(percentagef).toFixed(2);   
                                   if(percentagef >100){
                                    percentagef="100";
                                  } 
                                  percentagef=percentagef;
     
                        %>                                        
                                        <tr>

                                            <% var srr=companytask.data[i].user.firstname; 
                                            var snerr=companytask.data[i].user.lastname; 
          
                  var res = srr.substring(0, 1); var nres = snerr.substring(0, 1);  %> 
          
                                  <td><span class="fname"><%=res %><%=nres %></span><a href="<%= process.env.APP_URL %>/viewdetail/<%= companytask.data[i].user.id; %>"><%= companytask.data[i].user.firstname; %> <%= companytask.data[i].user.lastname; %></a></td>

                                       
                                                  <td> <%= totalworkingDisplay+':'+mtotalworkingDisplay+':'+stotalworkingDisplay; %></td>
                                                    
                                                    <td><%= idleinfoDisplay+':'+midleinfoDisplay+':'+sidleinfoDisplay; %></td>
                                                    <td><%= productinfoDisplay+':'+mproductinfoDisplay+':'+sproductinfoDisplay; %></td>
                                            <td> 
                                                <div class="progress" style="height:.5rem">
                                                    <div class="progress-bar" role="progressbar" style="width: <%= percentagef; %>%" title="<%= percentagef; %> %" aria-valuenow="<%= percentagef; %>" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td><%= companytask.data[i].totalKeypressCount; %></td>
                                           
                                            <td><%= companytask.data[i].totalClicks; %></td>
                                            <td><%= companytask.data[i].totalMouseMovement; %></td>
                                        </tr>
                                        <% } }else{ %>
                                            <tr>
                                               
                                        <td colspan="8" class="text-center" style="color:red; ">No Productivity Listed Yet</td>
                                               
                                            </tr>      
          <%  } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->

    <%- include('../partials/footer'); %>