<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true" data-img="theme-assets/images/backgrounds/02.jpg">
    <style>
.navbar-header .navbar-brand .brand-logo{
    width: 234px;
}
</style>
    <div class="navbar-header">

        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto" style=" margin-top: -18px;">
                <a class="navbar-brand" href="#"><img class="brand-logo" alt="Admin logo" style="width: 142px;" src="/theme-assets/images/logo/logo.png" />
              
                </a>
            </li>
            <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
        </ul>
    </div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
          
      
            <li class="active"><a style="color:red;" href="<%= process.env.APP_URL %>/dashboard"><i class="ft-home"></i><span class="menu-title" data-i18n="">Dashboard</span></a>
              </li>
              <% if(roleid==1){ %>
        <li class=" nav-item"><a onclick="spinner()" href="<%= process.env.APP_URL %>/userlist"><i class="la la-users"></i><span class="menu-title" data-i18n=""> Subscription List</span></a>
            </li>

        <li class=" nav-item"><a onclick="spinner()" href="<%= process.env.APP_URL %>/billingdetail"><i class="la la-file-text-o"></i><span class="menu-title" data-i18n=""> Billing Manager</span></a>
        </li>
        <li class=" nav-item"><a onclick="spinner()" href="<%= process.env.APP_URL %>/plan"><i class="la la-th-list"></i><span class="menu-title" data-i18n="">Plan Manager</span></a>
            </li>
            <li class=" nav-item"><a onclick="spinner()" href="<%= process.env.APP_URL %>/emailtemplate"><i class="la la-comments"></i><span class="menu-title" data-i18n="">Email Template </span></a>
            </li>
            <li class=" nav-item"><a onclick="spinner()" href="<%= process.env.APP_URL %>/staticpages"><i class="la la-book"></i><span class="menu-title" data-i18n="">Static Manager</span></a>
            </li>
            <% } %>

            <% if(roleid==2){ %>
                <li class="nav-item"><a onclick="spinner()" style="color:red;" href="<%= process.env.APP_URL %>/presence"><i class="la la-users"></i><span class="menu-title" data-i18n=""> Presence</span></a>
                </li>
    <li class="nav-item"><a onclick="spinner()" href="<%= process.env.APP_URL %>/companyuser"><i class="la la-users"></i><span class="menu-title" data-i18n=""> Employee List</span></a>
                    </li>
           <li class="nav-item"><a  href="javascript:void(0);"><i class="la ft-pie-chart"></i><span class="menu-title" data-i18n=""> User Insight </span></a>
            <ul id="folder21">

                <li class="nav-item"><a  href="<%= process.env.APP_URL %>/companyuser"><span class="menu-title" data-i18n="">Timeline</span></a></li>

         

            </ul>
                    </li>
            <li class="nav-item"><a onclick="spinner()" style="color:red;" href="<%= process.env.APP_URL %>/companyprojects"><i class="la ft-credit-card"></i><span class="menu-title" data-i18n=""> Projects</span></a>
                    </li>
                    <li class="nav-item"><a onclick="spinner()" style="color:red;" href="<%= process.env.APP_URL %>/companytask"><i class="la ft-layout"></i><span class="menu-title" data-i18n=""> Task</span></a>
                    </li>
                    <li class="nav-item"><a onclick="spinner()"  style="color:red;" href="<%= process.env.APP_URL %>/leaves"><i class="la la-users"></i><span class="menu-title" data-i18n=""> Leaves</span></a>
                        <li class="nav-item"><a onclick="spinner()"  style="color:red;"href="<%= process.env.APP_URL %>/reports"><i class="la la-users"></i><span class="menu-title" data-i18n=""> Reports</span></a>
                    </li>
                    <li class="nav-item"><a onclick="spinner()" style="color:red;" href="<%= process.env.APP_URL %>/companysettings"><i class="la ft-layers"></i><span class="menu-title" data-i18n=""> Settings</span></a>
                    </li>
                    <% } %>

        </ul>
    </div>
    <script type="text/javascript">
        function spinner() {

            document.getElementsByClassName("loader")[0].style.display = "block";
        }
    </script>
    <div class="navigation-background"></div>
</div>