<%- include('../partials/front/header'); %>
 <section id="slider">
                    <div class="graphics_1"></div>
                    <div class="graphics_2"></div>
                    <div class="graphics_3"></div>
                    <div class="graphics_4"></div>
                    <div class="container h-100">
                        <div class="d-flex sliderContent">
                            <div class="slider_left">
                                <h1>World's Most Powerful <span>Phone Monitoring Software</span></h1>
                                <h2>Trusted by Customers Worldwide</h2>
                                <ul>
                                    <li><i class="fas fa-check"></i> Keep an eye on incoming, outgoing and deleted calls and texts</li>
                                    <li><i class="fas fa-check"></i> View Installed App</li>
                                    <li><i class="fas fa-check"></i> Follow GPS location, set up safeguard and alerts</li>
                                    <li><i class="fas fa-check"></i> Access live video, screen and audio in real time</li>
                                </ul>
        
                               <!-- <ul class="d-flex mt-4">
                                    <li class="tryButton"><a href="#">View Demo</a></li>
                                    
                                </ul>-->
                            </div>
        
                            <div class="sliderRight">
                                <img src="/theme-assets/images/sliderImage.png" alt="" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                </section>
        
                <section id="bestParental">
                    <div class="graphics_5"></div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-4">
                                <img src="/theme-assets/images/web-graphic-2.png" alt="" class="img-fluid mobileImage" />
                            </div>
                            <div class="col-lg-8">
                                <div class="bestContent">
                                    <h3 class="sectionHeading">Why Spy My Cell is the Best <span>Parental Control App?</span></h3>
                                    <div class="row">
                                        <div class="col-md-4 col-6">
                                            <div class="bestParentalSingle">
                                                <span><img src="/theme-assets/images/parents_controll.png" alt="" class="img-fluid" /></span>
                                                <p>Trusted by thousands of parents. Over 95% regular returning users.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-6">
                                            <div class="bestParentalSingle">
                                                <span><img src="/theme-assets/images/remote_monitaring.png" alt="" class="img-fluid" /></span>
                                                <p>Monitoring is Done Remotely. With 24/7 Support.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-6">
                                            <div class="bestParentalSingle">
                                                <span><img src="/theme-assets/images/save money.png" alt="" class="img-fluid" /></span>
                                                <p>Best Price. Monitor your child's phone for less than $0.5 per day!</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-6">
                                            <div class="bestParentalSingle">
                                                <span><img src="/theme-assets/images/internet_activities.png" alt="" class="img-fluid" /></span>
                                                <p>Stop Worrying About Your Kid's Internet Activities.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-6">
                                            <div class="bestParentalSingle">
                                                <span><img src="/theme-assets/images/live_location.png" alt="" class="img-fluid" /></span>
                                                <p>View Phone Location in Real Time. See GPS history and get alerts.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-6">
                                            <div class="bestParentalSingle">
                                                <span><img src="/theme-assets/images/fast_access.png" alt="" class="img-fluid" /></span>
                                                <p>It is Very Fast to Get Started (As Little as 15 minutes!).</p>
                                            </div>
                                        </div>
                                    </div>
        
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        
                <section id="features">
                    <div class="container">
                        <h3 class="sectionHeading">
                            Advanced Spy My Cell Features & Benefits
                        </h3>
                        <p>We constantly work to improve features that Spy My Cell offers – both by adding access to the apps, View Phone Location in Real Time. See GPS history and get alerts.

                            by increasing the overall security and stability.</p>
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-4 col-6">
                                <div class="featureTile">
                                    <i class="fas fa-envelope-open-text"></i>
                                    <h4>Text Messages Monitoring</h4>
                                    <p>View the content and information of every sent or received message even when it’s deleted from the child’s device.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <div class="featureTile">
                                    <i class="fas fa-mobile-alt"></i>
                                    <h4>Call Monitoring</h4>
                                    <p>View every outgoing and incoming call with timestamp and duration, as well as the detailed caller info.</p>
                                </div>
                            </div>
                         
                            <div class="col-lg-4 col-md-4 col-6">
                                <div class="featureTile">
                                    <i class="far fa-comment-dots"></i>
                                    <h4> SMS Monitoring</h4>
                                    <p>View every outgoing and incoming sms with timestamp and duration, as well as the detailed sms info</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <div class="featureTile">
                                    <i class="fas fa-map-marked-alt"></i>
                                    <h4>GPS History + Location</h4>
                                    <p>Always know where your kids are by having access to the GPS history, as well as location at all times.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <div class="featureTile">
                                    <i class="fas fa-photo-video"></i>
                                    <h4>Photo and Video Monitoring</h4>
                                    <p>View and download all pictures or videos taken by the monitored device, as well as any downloaded or received.</p>
                                </div>
                            </div>
                          
                            <div class="col-lg-4 col-md-4 col-6">
                                <div class="featureTile">
                                    <i class="fas fa-clipboard-list"></i>
                                    <h4>Apps Monitoring</h4>
                                    <p>Get all installed apps from the target device and maintain tracking.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row featuresBottomContent align-items-center">
                            <div class="col-lg-7">
                                <p><span>Parental control for children protection</span> You won’t find all this at such a good price anywhere on the market!</p>
                            </div>
                            <div class="col-lg-5">
                               <!--- <ul class="d-flex justify-content-end">
                               <li class="tryButton"><a href="#">View Demo</a></li>
                                 </ul>-->
                            </div>
                        </div>
                    </div>
                    <ul class="circles">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </section>
        
                <section id="ParentalControl24-7">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h3 class="sectionHeading">
                                    24/7 Parental Control </br>for Your Peace of Mind
                                </h3>
                                <p>Spy My Cell works with almost all newer Android phones and Tablets.</p>
                              
                            </div>
                            <div class="col-sm-6">
                                <img src="/theme-assets/images/devices.png" alt="" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                </section>
        
                <section id="testimonials">
                    <div class="container">
        
                        <h3 class="sectionHeading">
                            What our clients have to say
                        </h3>
        
                        <div class="owl-carousel owl-theme owl-loaded testimonials-carousel">
                            <div class="owl-stage-outer">
                                <div class="owl-stage">

                                    
                                    <%  if(testimonial.data.length > 0){
                                        var s=1; 
                   for(var i=0; i < testimonial.data.length; i++) { %>
                                  
                                    <div class="owl-item text-center">
                                        <img src="/theme-assets/images/<%= testimonial.data[i].image; %>" alt="" class="img-fluid" />
                                        <h5> <%= testimonial.data[i].name; %></h5>
                                        
                                        <p>“<%= testimonial.data[i].description; %>”</p>
                                    </div>
                                    <% } } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        
                <section id="selectPackage">
                    <div class="container">
                        <div class="row align-items-lg-center">
                            <div class="col-sm-5">
                                <h3 class="sectionHeading">Choose your Plan</h3>
                                <p>Start Monitoring & Stop Worrying Now!</p>
                            </div>
                            <div class="col-sm-7">
                                <ul class="d-flex justify-content-end h-100 align-items-center">
                                    <li class="tryButton"><a href="<%= process.env.APP_URL %>/pricing">View Pricing</a></li>
                                 
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <%- include('../partials/front/footer'); %>
