<%- include('../partials/front/header'); %>

 <style>
   .bootbox-close-button{ display:none;}
   </style>
    <!-- slider-section-start -->
    <section id="slider_sec">
        <div class="slider_secinner">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <div class="sliderCnt">
        <h1 class="wow fadeInLeft"><span>Employee</span> <br>
            Working Productivity<br> 
            Monitoring Software</h1>
            <ul class="list-unstyled dotsUl wow fadeInUp mt-4 mb-4">
            <li>    Try free for 7 days. No credit card required.
            </li>
            <li>
        By Requesting Demo , You agree to receive all commercial mails from My Project-Desk
        </li>
            </ul>
            <a href="<%= process.env.APP_URL %>/signup" class="site_btn2 wow fadeInUp trialBtn"> <span> Start Free Trial </span></a>
                        </div>
                    </div>
                    <!-- col-md-6 --> 
        
        <div class="col-md-6 align-self-center">
            <div class="sliderImg wow fadeInRight">
                <div class="client_sayimgOverlay">
                    
                    <div class="contact_img">
                                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#motivationVideoModal" class="contact_img_inner"><i class="fas fa-play"></i></a>
                                       </div>
                    
                    </div>
        <img src="/theme-assets/front/images/sliderImg.png" alt="Slider">
            </div>
        </div>
        <!-- col-md-6 -->
        
                </div>
            </div>
        </div>
        </section>
            <!-- slider-section-end -->
        
        
            <!-- employee-managment-section-start -->
            <section id="employeeManagmentSec">
        <div class="employeeManagmentSecinner">
            <div class="container">
        
                                                
            <!--  -->
            <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-eManagment1-tab" data-bs-toggle="pill" data-bs-target="#pills-eManagment1" type="button" role="tab" aria-controls="pills-eManagment1" aria-selected="true">Productivity Measurements</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-eManagment2-tab" data-bs-toggle="pill" data-bs-target="#pills-eManagment2" type="button" role="tab" aria-controls="pills-eManagment2" aria-selected="false">Automated Attendance</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-eManagment3-tab" data-bs-toggle="pill" data-bs-target="#pills-eManagment3" type="button" role="tab" aria-controls="pills-eManagment3" aria-selected="false">Time Tracking
                </button>
                </li>
        
        
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-eManagment4-tab" data-bs-toggle="pill" data-bs-target="#pills-eManagment4" type="button" role="tab" aria-controls="pills-eManagment4" aria-selected="false">Project Tracking</button>
                  </li>
        
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-eManagment5-tab" data-bs-toggle="pill" data-bs-target="#pills-eManagment5" type="button" role="tab" aria-controls="pills-eManagment5" aria-selected="false">  Automated Screenshots
                    </button>
                  </li>
        
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-eManagment6-tab" data-bs-toggle="pill" data-bs-target="#pills-eManagment6" type="button" role="tab" aria-controls="pills-eManagment6" aria-selected="false">Engagement Tracking</button>
                  </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                  <!--  -->
                <div class="tab-pane fade show active" id="pills-eManagment1" role="tabpanel" aria-labelledby="pills-eManagment1-tab">
                    <!--  -->
                    <div class="managmentSecTbsdv">
          
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h4>Productivity Measurements</h4>
                <p>In our software, you can easily allot tasks or projects to employees. Then you can define the timelines given to them. Then you can see a record of timelines, screenshots, and urls visited by employees. Once the project or task is completed, our system gives a productivity percentage of the employee. For example, if an employee gets the productivity percentage of 80%, then there is a 20% improvement scope in the next task and projects.
                
                </p>
                <div class="managmentSecCnt">
        
        
        <h6>Benefits</h6>
        <ul class="list-unstyled dotsUl">
          <li> Productivity monitoring is very critical to increasing your company’s profits
        </li>
          <li>Measure each employee’s productivity and take corrective action in due course of the project instead of last-minute surprises
        </li>
            <li>This also helps you prioritize the task given to employees as you can provide high priority tasks or projects to employees with higher productivity and vice versa.
            </li>
                <li>This also helps in identifying productivity trends that can be replicated to increase productivity and thus increase profits.
                </li>
        </ul>
                </div>
            </div>
            <!-- col-md-6 -->
        
        <div class="col-md-6 align-self-center">
        <div class="managmentImg">
            <img src="/theme-assets/front/images/productivityMesurment.png" alt="Productivity Mesurment">
        </div>
        </div>
        <!-- col-md-6 -->
        
        </div>
                    </div>
                    <!--  -->
                </div>
        
        
                
                <div class="tab-pane fade" id="pills-eManagment2" role="tabpanel" aria-labelledby="pills-eManagment2-tab">
                          <!--  -->
                          <div class="managmentSecTbsdv">
                           
                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                    <h4>Automated Attendance
                                    </h4>
                                    <p>With Myproject-Desk, allow your employees to quickly punch in and out of your office with a single click. Notify Breaks and analyze their total productivity per day.
                
                                    </p>
                                    <div class="managmentSecCnt">
                           
                            
                            <h6>Benefits</h6>
                            <ul class="list-unstyled dotsUl">
                              <li> It helps you plan your payroll correctly.
                            </li>
                              <li>Creates discipline among employees to start working on time
                            </li>
                                <li>Saves the cost of hardware for marking attendance
                                </li>
                                    <li>Automatically creates the report for the whole month.
                                    </li>
                            </ul>
                                    </div>
                                </div>
                                <!-- col-md-6 -->
                            
                            <div class="col-md-6 align-self-center">
                            <div class="managmentImg">
                                <img src="/theme-assets/front/images/automated_attendenceImg.png" alt="Automated Attendence">
                            </div>
                            </div>
                            <!-- col-md-6 -->
                            
                            </div>
                                        </div>
                                        <!--  -->
                </div>
        
        <!--  -->
        
        
                <div class="tab-pane fade" id="pills-eManagment3" role="tabpanel" aria-labelledby="pills-eManagment3-tab">
                          <!--  -->
                          <div class="managmentSecTbsdv">
                        
                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                    <h4>Time Tracking
                                    </h4>
                                    <p>Myproject-Desk’s employee time tracking module allows your team to track work hours spent on every project and task. Say No to unproductivity with Myproject-Desk.
                
                                    </p>
                                    <div class="managmentSecCnt">
                            
                            
                            <h6>Benefits</h6>
                            <ul class="list-unstyled dotsUl">
                              <li> Get a clear picture of where the employee time is spent and plan strategy accordingly.
                            </li>
                              <li>Helps in completing given tasks and projects on time, which will provide you with outstanding customer goodwill.
                            </li>
                                <li>Time tracking enables you to identify poor performance and helps you plan their training and performance improvement strategies.
                                </li>
                                    <li>With proper time tracking, you will calculate the exact number of employees for a given project and save on a considerable cost and time.
                                    </li>
                            </ul>
                                    </div>
                                </div>
                                <!-- col-md-6 -->
                            
                            <div class="col-md-6 align-self-center">
                            <div class="managmentImg">
                                <img src="/theme-assets/front/images/timeTrackingImg.png" alt="Time Tracking">
                            </div>
                            </div>
                            <!-- col-md-6 -->
                            
                            </div>
                                        </div>
                                        <!--  -->
                </div>
        
                <!--  -->
        
                <div class="tab-pane fade" id="pills-eManagment4" role="tabpanel" aria-labelledby="pills-eManagment4-tab">
                          <!--  -->
                          <div class="managmentSecTbsdv">
                          
                            
                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                    <h4>Project Tracking
                                    </h4>
                                    <p>Build to-dos, assign team members, and create your project budgets all with Myproject-Desk. You can track your project’s status and can  monitor and control costs through the entire lifecycle! All within one single software.
                
                                    </p>
                                    <div class="managmentSecCnt">
                            
                            <h6>Benefits</h6>
                            <ul class="list-unstyled dotsUl">
                              <li> The most significant cost leakage happens when the projects aren’t tracked properly. We help you plug all the loopholes in projects to optimize costs and increase profits.
                            </li>
                              <li>The complete project report helps you repeat best practices and avoid mistakes.
                            </li>
                                <li>This also helps you define optimum workforce requirements, thus saving substantial workforce costs.
                                </li>
                                    <li>Timely project completion is your most significant citation for customer satisfaction.
                                    </li>
                                    <li>
                                        With integration options with all the requisite platforms, your project implementation becomes super easy.
        
                                    </li>
                            </ul>
                                    </div>
                                </div>
                                <!-- col-md-6 -->
                            
                            <div class="col-md-6 align-self-center">
                            <div class="managmentImg">
                                <img src="/theme-assets/front/images/projectTrackingImg.png" alt="Project Tracking">
                            </div>
                            </div>
                            <!-- col-md-6 -->
                            
                            </div>
                                        </div>
                                        <!--  -->
                </div>
        <!--  -->
        
        
                <div class="tab-pane fade" id="pills-eManagment5" role="tabpanel" aria-labelledby="pills-eManagment5-tab">
                          <!--  -->
                          <div class="managmentSecTbsdv">
                          
                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                    <h4>Automated Screenshots
                                    </h4>
                                    <p>With the help of Myproject-Desk powerful Ai, High-quality screenshots are captured at custom intervals, which is a smart way to keep an eye on your employee’s activity. With A+ security, screenshots are safely stored in a cloud . Here at Myproject-Desk, Your privacy is our topmost concern.
                
                                    </p>
                                    <div class="managmentSecCnt">
                          
                            
                            <h6>Benefits</h6>
                            <ul class="list-unstyled dotsUl">
                              <li>  With screenshots, you can see actual work in progress
                            </li>
                              <li>You can track app and url activity
                            </li>
                                <li>Generaly employees spend less time in social media or any other non-productive sites after this feature
                                </li>
                                    <li>Also screenshots help in understanding the working trend of employees when they are working on a particular project, which helps in defining the standard operating procedure
                                    </li>
                                    <li>Compatibility with Windows, Mac, Linux
                                    </li>
                            </ul>
                                    </div>
                                </div>
                                <!-- col-md-6 -->
                            
                            <div class="col-md-6 align-self-center">
                            <div class="managmentImg">
                                <img src="/theme-assets/front/images/automated_attendenceImg.png" alt="Automated Screenshot">
                            </div>
                            </div>
                            <!-- col-md-6 -->
                            
                            </div>
                                        </div>
                                        <!--  -->
                </div>
                <!--  -->
        
                <div class="tab-pane fade" id="pills-eManagment6" role="tabpanel" aria-labelledby="pills-eManagment6-tab">
                          <!--  -->
                          <div class="managmentSecTbsdv">
                            
                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                    <h4>Engagement Tracking
                                    </h4>
                                    <p>Myproject-Desk, with the help of Ai, can monitor every keystroke and mouse click your employee completes and can detect if the employee was idle or doing productive work.
                
                                    </p>
                                    <div class="managmentSecCnt">
                           
                            
                            <h6>Benefits</h6>
                            <ul class="list-unstyled dotsUl">
                              <li> The more engaged the employee is, the higher is his productivity.
                            </li>
                              <li>This helps in more accurate monitoring of employee performance.
                            </li>
                                <li>This complements time tracking
                                </li>
                                    <li>More productivity of the employee means more profit to the business.
                                    </li>
                            </ul>
                                    </div>
                                </div>
                                <!-- col-md-6 -->
                            
                            <div class="col-md-6 align-self-center">
                            <div class="managmentImg">
                                <img src="/theme-assets/front/images/engagmentTrackingImg.png" alt="Engagment Tracking">
                            </div>
                            </div>
                            <!-- col-md-6 -->
                            
                            </div>
                                        </div>
                                        <!--  -->
                </div>
                <!--  -->
              </div>
            <!--  -->
        </div>
        </div>
            </section>
            <!-- employee-managment-section-end -->
        
        
        
            <!-- employee-efficiency-section-start -->
        
        <section id="employEfficiencySec">
        <div class="employEfficiencySecinner">
            <div class="container">
                <hgroup>
                    <h2>
                        Increase Your Profitability And<br>
        Employee Efficiency With My Project-Desk
                    </h2>
                </hgroup>
                <div class="row">
                    <div class="col-md-3">
                        <div class="employeeEfficienBx wow fadeInUp">
        <div class="imgBx">
            <div class="imgBxinner">
                <img src="/theme-assets/front/images/increaseEfficiencyIco1.png" alt="Employee Logs in">
            </div>
        </div>
        <h4>Employee Logs in,
            My Project-Desk starts Monitoring</h4>
                        </div>
                    </div>
                    <!-- col-md-3 -->
        
        
                    <div class="col-md-3">
                        <div class="employeeEfficienBx wow fadeInUp">
        <div class="imgBx">
            <div class="imgBxinner">
                <img src="/theme-assets/front/images/increaseEfficiencyIco2.png" alt="Supervision">
            </div>
        </div>
        <h4>Superviser can see reports and snapshots</h4>
                        </div>
                    </div>
                    <!-- col-md-3 -->
                    
        
                    <div class="col-md-3">
                        <div class="employeeEfficienBx wow fadeInUp">
        <div class="imgBx">
            <div class="imgBxinner">
                <img src="/theme-assets/front/images/increaseEfficiencyIco3.png" alt="Managment">
            </div>
        </div>
        <h4>Management takes intelligent decisions based on reports</h4>
                        </div>
                    </div>
                    <!-- col-md-3 -->
                    
        
                    <div class="col-md-3">
                        <div class="employeeEfficienBx wow fadeInUp">
        <div class="imgBx">
            <div class="imgBxinner">
                <img src="/theme-assets/front/images/increaseEfficiencyIco4.png" alt="Buisness Decisions">
            </div>
        </div>
        <h4>intelligent Business decisions leads to profitability of your organisation.</h4>
                        </div>
                    </div>
                    <!-- col-md-3 -->
                    
                </div>
            </div>
        </div>
        </section>
            <!-- employee-efficiency-section-end -->
        
        
        <!-- your-productivity-section-start -->
        <section id="yourProductivitySec">
        <div class="yourProductivitySecinner">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <hgroup class="align-self-center">
                        <h3>My Project-Desk Is Designed After Keeping <br>
                           <strong> YOUR PRODUCTIVITY </strong> In Mind</h3>
                    </hgroup>
        
                    <div class="align-self-center">
                        <a href="<%= process.env.APP_URL %>/bookademo" class="site_btn">Try My Project-Desk for Free</a>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
        </section>
        <!-- your-productivity-section-end -->
        
        
        <!-- employee-features-section-start -->
        <section id="efeaturesSection">
            <div class="efeaturesSectioninner">
                <div class="container">
                    <hgroup>
                        <h2>
                            Features Of Our Employee <br>
        Monitoring Software
                        </h2>
                    </hgroup>
                <div class="row">
        
                    <div class="col-md-4">
                        <div class="eFeaturesBx wow fadeInLeft">
                            <span class="flaticon-productivity posIcon
                            "></span>
        <div class="eFeatureImg">
            <span class="flaticon-productivity
            "></span>
        </div>
        <h4><a href="<%= process.env.APP_URL %>/measureemployeeproductivity"> Productivity Measurements</a></h4>
        <p>Analyze productivity, effectiveness and focus with insightful charts for individuals, teams and the entire organization. Myproject-Desk’s interesting graphics and detailed reports ...
        
        </p>
        
                        </div>
                    </div>
                    <!-- col-md-4 -->
        
        
                    
                    <div class="col-md-4">
                        <div class="eFeaturesBx wow fadeInLeft">
                            <span class="flaticon-image
        
        
         posIcon
                            "></span>
        <div class="eFeatureImg">
            <span class="flaticon-image
        
        
        
            "></span>
        </div>
        <h4><a href="<%= process.env.APP_URL %>/automatedscreenshots"> Automated Screenshots</a></h4>
        <p>With the help of Myproject-Desk powerful Ai , High quality screenshots are captured at custom intervals which is a smart way to keep an eye on your employee’s activity...
        
        </p>
        
                        </div>
                    </div>
                    <!-- col-md-4 -->
        
        
                    
                    <div class="col-md-4">
                        <div class="eFeaturesBx wow fadeInLeft">
                            <span class="flaticon-analytics posIcon
                            "></span>
        <div class="eFeatureImg">
            <span class="flaticon-analytics
            "></span>
        </div>
        <h4><a href="<%= process.env.APP_URL %>/automatedattendence"> Automated Attendance</a>
        </h4>
        <p>With Myproject-Desk , allow your employees to punch in and our of your office easily with a single click. Notify Breaks and analyse their total productivity per day.
        
        
        
        
        
        </p>
        
                        </div>
                    </div>
                    <!-- col-md-4 -->
        
        
                    
                    <div class="col-md-4">
                        <div class="eFeaturesBx wow fadeInLeft">
                            <span class="flaticon-tracking
         posIcon
                            "></span>
        <div class="eFeatureImg">
            <span class="flaticon-tracking
        
            "></span>
        </div>
        <h4><a href="<%= process.env.APP_URL %>/projecttracking"> Project Tracking</a></h4>
        <p>Build to-dos, assign team members, and create your project budgets all with Myproject-Desk . Track project status and monitor and control...</p>
        
                        </div>
                    </div>
                    <!-- col-md-4 -->
        
        
                    
                    <div class="col-md-4">
                        <div class="eFeaturesBx wow fadeInLeft">
         <span class="flaticon-dashboard posIcon
                            "></span>
        <div class="eFeatureImg">
            <span class="flaticon-dashboard
        
            "></span>
        </div>
        <h4><a href="<%= process.env.APP_URL %>/bidashboard"> BI dashboard</a></h4>
        <p>A Business Intelligence Dashboard or BI Dashboard is a powerful reporting tool that simplifies visualization and analysis of complex data. With Myproject-Desk’s BI Dashboard...</p>
        
                        </div>
                    </div>
                    <!-- col-md-4 -->
        
        
                    
                    <div class="col-md-4">
                        <div class="eFeaturesBx wow fadeInLeft">
                            <span class="flaticon-laptop
         posIcon
                            "></span>
        <div class="eFeatureImg">
            <span class="flaticon-laptop
        
            "></span>
        </div>
        <h4><a href="<%= process.env.APP_URL %>/engagementtracking"> Engagement Tracking</a></h4>
        <p>Myproject-Desk with the help of Ai can monitor every keystroke and mouse click your employee completes and can detect if the employee was idle or actually doing a productive work.
        
        </p>
        
                        </div>
                    </div>
                    <!-- col-md-4 -->
        
        
        
                </div>
                <!--  -->
             
                <!--  -->
            </div>
            </div>
        </section>
        <!-- employee-features-section-end -->
        
        
        <!-- counter-section-start -->
        <section id="counterSec">
            <div class="counterSecInner">
                <div class="container">
                    <div id="counter">
                        <div class="row">
                          <div class="col-sm-3" style="visibility: visible; animation-name: fadeInLeft;">
                            <div class="counter_bx counter_bx1">
                                <div class="ico">
                                    <span class="flaticon-happy
                                    "></span>
                                </div>
                              <ul class="list-inline">
                                <li class="list-inline-item">
                                  <div class="counter-value" data-count="370">0</div>
                                </li>
                                
                              </ul>
                              <h5>Happy Clients</h5>
                              
                            </div>
                          </div>
                          <div class="col-sm-3" style="visibility: visible; animation-name: fadeInLeft;">
                            <div class="counter_bx counter_bx2">
                                <div class="ico">
                                    <span class="flaticon-work
        
                                    "></span>
                                </div>
                              <ul class="list-inline">
                                <li class="list-inline-item">
                                  <div class="counter-value" data-count="1722">0</div>
                                </li>
                                
                              </ul>
                              <h5>Active Users</h5>
                              
                            </div>
                          </div>
                          <div class="col-sm-3" style="visibility: visible; animation-name: fadeInLeft;">
                            <div class="counter_bx counter_bx3">
                                <div class="ico">
                                    <i class="far fa-building"></i>
                                </div>
                              <ul class="list-inline">
                                <li class="list-inline-item">
                                  <div class="counter-value" data-count="945">0</div>
                                </li>
                                
                              </ul>
                              <h5>Companies</h5>
                              
                            </div>
                          </div>
                          <div class="col-sm-3" style="visibility: visible; animation-name: fadeInLeft;">
                            <div class="counter_bx counter_bx4">
                                <div class="ico">
                                    <span class="flaticon-time-management
        
                                    "></span>
                                </div>
                              <ul class="list-inline">
                                <li class="list-inline-item">
                                  <div class="counter-value" data-count="074993">0</div>
                                </li>
                                
                              </ul>
                              <h5>Minutes Setup</h5>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--  -->
                </div>
            </div>
        </section>
        <!-- counter-section-end -->
        
        
        <!-- pricing-plan-section-start -->
        <section id="pricingPlanSec">
            <div class="pricingPlanSecInner">
                <div class="container">
                    <div class="row">
                    <div class="col-md-5 align-self-center">
            <div class="pricingPlanCnt">
                <hgroup>
                    <h2 class="text-left">Pricing Plan</h2>
                    <p>You were put on this earth to achieve your greatest self, to live out your purpose, and to do it courageously and very simple.</p>
                </hgroup>
                <p>Do you need in special offer?</p>
                <div class="text-left mt-3">
                    <a href="<%= process.env.APP_URL %>/bookademo" class="site_btn2 trialBtn"> <span> Request Demo </span></a>
                </div>
            
            </div>
                    </div>
                    <!-- col-md-5 -->
            
                    <div class="col-md-7">
            <div class="pricePlanBxmn">
                <div class="row g-0">
                    <div class="col-md-6">
            <div class="pricePlanBx active">
            <h4>Pro</h4>
            <div class="text-center tagDv">
                <span><i class="fas fa-rupee-sign"></i> 185</span>
            </div>
            <h6>Build Your Schedule <span>User/Month</span></h6>
            <ul class="list-unstyled">
                <li class="check">Automated Screenshots
        
                </li>
                <li class="check">Time Tracking
        
        
                </li>
                <li class="check">24×7 Technical Support
                </li>
            </ul>
            
            <div class="text-center getStartedBtn">
                <a href="<%= process.env.APP_URL %>/priceplan" class="site_btn2 trialBtn"> <span> Get Started </span></a>
            </div>
            
            </div>
                    </div>
                    <!-- col-md-6 -->
            
            
                    <div class="col-md-6">
                        <div class="pricePlanBx">
                        <h4>Starter</h4>
                        <div class="text-center tagDv">
                            <span>Free</span>
                        </div>
                        <h6>Free for <span>7 Days</span></h6>
                        <ul class="list-unstyled">
                            <li class="cross">Automated Screenshots
        
                            </li>
                            <li class="check">Time Tracking
                    
                    
                            </li>
                            <li class="cross">24×7 Technical Support
                            </li>
                            
                        </ul>
                        
                        <div class="text-center getStartedBtn">
                            <a href="<%= process.env.APP_URL %>/priceplan" class="site_btn2 trialBtn"> <span> Get Started </span></a>
                        </div>
                        
                        </div>
                                </div>
                                <!-- col-md-6 -->
                </div>
                <!-- row -->
            </div>
                    </div>
                    <!-- col-md-7 -->
                </div>
                <!-- row -->
                </div>
            </div>
            </section>
            <!-- pricing-plan-section-end -->
            
        
        <!-- seamless-intigration-section-start -->
        <section id="seamIntigrationSec">
            <div class="waveShapes">
            <img src="/theme-assets/front/images/waves-shape.svg" alt="waves-shape" >
        </div>
        <div class="seamIntigrationSecinner">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <div class="seamLessImg">
        <img src="/theme-assets/front/images/seamlessIntigrationImg.png" alt="seamless Intigration">
                        </div>
                    </div>
                    <!-- col-md-7 -->
        
                    <div class="col-md-6 align-self-center">
                        <div class="seamLessCnt">
        <hgroup>
            <h2 class="wow fadeInUp">
              <strong>  Over 40+</strong> 
        Seamless Integrations
            </h2>
        </hgroup>
        <p class="wow fadeInUp">My Project-Desk works seamlessly with the tools you already use.</p>
        <div class="text-left">
            <a href="<%= process.env.APP_URL %>/bookademo" class="site_btn wow fadeInUp">Get Technical Support</a>
        </div>
                        </div>
                    </div>
                    <!-- col-md-5 -->
                </div>
            </div>
        </div>
        </section>
        <!-- seamless-intigration-section-end -->
        
        
        <!-- faq-section-start -->
        <section id="faqSec">
        <div class="faqSecinner">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <div class="faqImg wow fadeInLeft">
        <img src="/theme-assets/front/images/faqImg.png" alt="FAQ">
                        </div>
                    </div>
                    <!-- col-md-6 -->
        
        <div class="col-md-6 align-self-center">
            <div class="faqCnt wow fadeInRight">
        <hgroup>
            <h6>Get Help (Help Center)</h6>
            <h2>Frequently Asked Questions</h2>
        </hgroup>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 How Much Does it Cost?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    You can see this at the <a href="<%= process.env.APP_URL %>/priceplan"> pricing </a> page.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    How much time will it take to use Myproject-Desk?
        
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    The initial set up will take around 10 minutes for the admin and 3-5 minutes for the users of the software plus a few minutes to <strong> watch training videos</strong>. After that it takes very little time each day (a few minutes)
                </div>
              </div>
            </div>
        
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Can Myproject-Desk monitor the websites that I or my team visit?
        
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Yes. Myproject-Desk’s reports will give you detailed insights into which websites are being used and for how long. You can access these reports online, and can also receive them weekly by email.
                </div>
              </div>
            </div>
            <!--  -->
        
        
        
            
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Is my data stored in a secure environment?
        
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    For Myproject-Desk , Your privacy will always remain our utmost priority!
        
        All communication to the server is secured by SSL encryption. The files on the server are encrypted to provide an extra level of security for company data. The servers are located in secure enterprise data center facilities with 24/7 monitoring and hosting support.
                  </div>
                </div>
              </div>
              <!--  -->
          </div>
          <!--  -->
            </div>
        </div>
        <!-- col-md-6 -->
        
                </div>
            </div>
        </div>
        </section>
        <!-- faq-section-end -->
        
        
        
        
        <!-- why-choose-us-section-start -->
        <section id="whyChooseSec">
        <div class="whyChooseSecinner">
            <div class="container">
                <hgroup>
                    <h2>
                        Why Choose My Project-Desk Over Others?
                    </h2>
                </hgroup>
                <div class="row">
                    <div class="col-md-3 align-self-center">
                        <div class="whyChooseLeft">
                            <ul class="nav nav-pills flex-column mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Latest Technologies</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Most Affordable</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">100% Privacy</button>
                                </li>
                              </ul>
        
                              <a href="<%= process.env.APP_URL %>/bookademo" class="site_btn2 mt-5 trialBtn"> <span> Signup for Demo </span></a>
                        </div>
                    </div>
                    <!-- col-md-3 -->
        
                    <div class="col-md-9 align-self-center">
                        <div class="whyChooseRight">
                            
                              <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <!--  -->
                                    <div class="row">
                                        <div class="col-md-7 align-self-center">
        <div class="whyChoosCnt">
            <div class="whyChoosCntinner">
                <p>Myproject-Desk is built on 2021 ready technologies; we have the latest tech architecture, which ensures you will always be ahead of your competitors.
        
                </p>
            </div>
        </div>
                                        </div>
                                    <!-- col-md-7 -->
        
                                    <div class="col-md-5 align-self-center">
                                        <div class="whyChooseImg">
        <img src="/theme-assets/front/images/whyChooseImg.png" alt="Why Choose Us">
                                        </div>
                                    </div>
                                    <!-- col-md-5 -->
                                    </div>
                                    <!-- row -->
                                </div>
        <!--  -->
        
        
        
                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                     <!--  -->
                                     <div class="row">
                                        <div class="col-md-7 align-self-center">
        <div class="whyChoosCnt">
            <div class="whyChoosCntinner">
                <p>We at Myproject-Desk care about your finances, and we don’t want to burn your pockets. Myproject-Desk guarantees that you won’t get a similar product at this price. We don’t want you to believe us, Go ahead and discover yourself! A Myproject-Desk’s Promise
        
                </p>
            </div>
        </div>
                                        </div>
                                    <!-- col-md-7 -->
        
                                    <div class="col-md-5 align-self-center">
                                        <div class="whyChooseImg">
        <img src="/theme-assets/front/images/whyChooseImg.png" alt="Why Choose Us">
                                        </div>
                                    </div>
                                    <!-- col-md-5 -->
                                    </div>
                                    <!-- row -->
                                </div>
        
                                <!--  -->
                                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                     <!--  -->
                                     <div class="row">
                                        <div class="col-md-7 align-self-center">
        <div class="whyChoosCnt">
            <div class="whyChoosCntinner">
                <p>We are committed to your privacy. Your data is safely stored and fully encrypted on Amazon’s Safe servers (AWS). Myproject-Desk Never shares your personal information.
        
                </p>
            </div>
        </div>
                                        </div>
                                    <!-- col-md-7 -->
        
                                    <div class="col-md-5 align-self-center">
                                        <div class="whyChooseImg">
        <img src="/theme-assets/front/images/whyChooseImg.png" alt="Why Choose Us">
                                        </div>
                                    </div>
                                    <!-- col-md-5 -->
                                    </div>
                                    <!-- row -->
                                </div>
                              </div>
                        </div>
                    </div>
                    <!-- col-md-9 -->
                </div>
            </div>
        </div>
        </section>
        <!-- why-choose-us-section-end -->
        
        
        
        <!-- testimonials-section-start -->
        
        <section id="our_verticlesec">
            <div class="our_verticlesectop">
              <div class="container">
             <hgroup>
                 <h2>What Our Clients Say ?</h2>
             </hgroup>
              </div>
            </div>
        
        
            <div class="our_verticlesecbottom">
              <div class="container">
                <div class="our_verticlesecbottominner">
                  <div class="owl-carousel owl-theme owl-loaded our_verticlowl">
                    <div class="owl-stage-outer">
                        <div class="owl-stage">

                            <%  if(testimonial.data.length > 0){
                              
           for(var i=0; i < testimonial.data.length; i++) { %>
                             
                            <div class="owl-item">
                              <div class="verticle_bx">
                                <div class="verticle_bxinner">
                                <div class="text-center">
                 <img  style="width:98px;" src="/theme-assets/images/<%= testimonial.data[i].image; %>">
                                </div>
                                <p><%= testimonial.data[i].description; %></p>
                             <h5><%= testimonial.data[i].name; %></h5>
                            
                              </div>
                            </div>
                          </div>
        
                      <% }  } %>
                            
                        </div>
                    </div>
                    </div>
                </div>
              </div>
            </div>
          </section>
        
        <!-- testimonials-section-end -->
        
        
        
            
            <!-- get-in-touch-section-start -->
            <section id="getInTouchSec">
                <div class="getInTouchSecinner">
                    <div class="container">
                        <hgroup>
                            <h2>
                                Get in Touch
                            </h2>
                            <p>Know How You Can Increase Employee Productivity with Myproject-Desk.
                
                            </p>
                        </hgroup>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="getTouchBx wow fadeInUp">
                <div class="text-center">
                    <span class="flaticon-location-1
                
                    "></span>
                </div>
                <!--  -->
                <h4>Address</h4>
                <p>
                    <a href="javascript:void(0);"><%= testimonial.admindetail.address; %></a>
                </p>
                                </div>
                            </div>
                            <!--  -->
                
                
                            <div class="col-md-4">
                                <div class="getTouchBx wow fadeInUp">
                <div class="text-center">
                    <span class="flaticon-phone-call
                
                    "></span>
                </div>
                <!--  -->
                <h4>Phone</h4>
                <p>
                    <a href="tel:+91 <%= testimonial.admindetail.mobile; %>"><%= testimonial.admindetail.mobile; %></a>
                </p>
                
                
                                </div>
                            </div>
                            <!--  -->
                
                            <div class="col-md-4">
                                <div class="getTouchBx wow fadeInUp">
                <div class="text-center">
                    <span class="flaticon-email
                
                    "></span>
                </div>
                <!--  -->
                <h4>Email</h4>
                <p>
                    <a href="mailto:vikas@doomshell.com">vikas@doomshell.com</a>
                </p>
                
                <p>
                    <a href="mailto:contact@doomshell.com">contact@doomshell.com</a>
                </p>
                                </div>
                            </div>
                            <!--  -->
                        </div>
                    </div>
                </div>
                
        
        <!-- form -->
        
        <div class="sendYourMessageSec">
            <div class="sendYourMessageSecinner">
                <hgroup>
                    <h2>Send Your Message</h2>
                </hgroup>
                <% if(userfound==1){  %>

                    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js
                    "></script>
                    <script src="https://eboxtenders.com/js/bootstrap.min.js" type="text/javascript"></script>
                    <script>
                        
            bootbox.alert("Thank you for Contacting us , Our Representative will contact you soon.", function() {
                               
                            });
                      
                    </script>
                    <% } %>
<script type="text/javascript" src="/theme-assets/js/jquery.formatCurrency-1.4.0.min.js"></script>
<script> $(function () {
                  $(".currency").blur(function () {
                    $(".currency").html(null), $(this).formatCurrency({
                      colorize: !0,
                      symbol: "",
                      negativeFormat: "-%s%n",
                      roundToDecimalPlace: -1
                    })
                  }).keyup(function (e) {
                    var e = window.event || e,
                      a = e.charCode || e.keyCode;
                    if (110 != a && 229 != a && 190 != a && 46 != a && 45 != a && a > 31 && (96 > a || a > 105) && (48 > a || a > 57) && $(".currency").val(""), void 0 !== e) switch (a) {
                      case 16:
                        break;
                      case 17:
                        break;
                      case 18:
                        break;
                      case 27:
                        this.value = "";
                        break;
                      case 35:
                        break;
                      case 36:
                        break;
                      case 37:
                        break;
                      case 38:
                        break;
                      case 39:
                        break;
                      case 40:
                        break;
                      case 78:
                        break;
                      case 110:
                        break;
                      case 190:
                        break;
                      default:
                        $(this).formatCurrency({
                          colorize: !0,
                          negativeFormat: "-%s%n",
                          roundToDecimalPlace: -1,
                          eventOnDecimalsEntered: !1
                        })
                    }
                  }).bind("decimalsEntered", function (e, a) {
                    var t = "Please do not enter any cents (0." + a + ")";
                    alert(t), log("Event on decimals entered:" + t)
                  });
                });
                </script>

<style>
    .loader {
        display: none;
        top: 50%;
        left: 50%;
        position: fixed;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.8);
        height: 100%;
        text-align: center;
        width: 100%;
        z-index: 99999999;
    }
    
    .loading {
        border: 2px solid #ccc;
        width: 60px;
        height: 60px;
        margin: auto;
        border-radius: 50%;
        border-top-color: #1ecd97;
        border-left-color: #1ecd97;
        animation: spin 1s infinite ease-in;
        position: absolute;
        left: 50%;
        top: 50%;
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
<div class="loader">
    <div class="loader-inner" style="position: relative;height: 100%;width: 100%;">
        <div class="loading">
        </div>
    </div>
</div>
<script>
    // Disable form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Get the forms we want to add validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            document.getElementsByClassName("loader")[0].style.display = "block";
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
              document.getElementsByClassName("loader")[0].style.display = "none";
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>
    

    <form action="<%= process.env.APP_URL; %>/sendmessage" method="post" class="needs-validation" novalidate >
                    <div class="row">
                        <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" name="name" maxlength="40"  required class="form-control" id="floatingInput1" placeholder="Your Name">
                        <label for="floatingInput1">Your Name</label>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                      </div>
                    </div>
                    <!--  -->
        
                    <div class="col-md-6">
                      <div class="form-floating">
                        <input type="email" required  name="email" required  class="form-control" id="floatingInput2" placeholder="Email Address">
                        <label for="floatingInput2">Email Address</label>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                      </div>
                    </div>
                    <!--  -->
        
        
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" name="subject" maxlength="255"  required  class="form-control" id="floatingInput3" placeholder="Your Subject">
                            <label for="floatingInput3">Your Subject</label>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                          </div>
                        </div>
                        <!--  -->
            
                        <div class="col-md-6">
                          <div class="form-floating">
                            <input type="text" name="phone" required maxlength="17" class="form-control currency" id="floatingInput4" placeholder="Your Phone">
                            <label for="floatingInput4">Your Phone</label>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                          </div>
                        </div>
                        <!--  -->
        
                        <div class="col-md-12">
                            <div class="form-floating">
                              <textarea name="message" required class="form-control" id="floatingInput5" placeholder="Write Message"></textarea>
                              <label for="floatingInput5">Write Message</label>
                              <div class="valid-feedback">Valid.</div>
                              <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                          </div>
                          <!--  -->
                        
                    </div>
                    <!--  -->
                    <div class="text-center mt-3">
                        <button type="submit" class="site_btn2 border-0 trialBtn">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
        
        </section>

        
    <!-- get-in-touch-section-end -->
                <%- include('../partials/front/footer'); %>
