<%- include('../partials/front/header'); %>
    <!-- inner-headerSlider-start -->
    
    <!-- inner-headerSlider-start -->
<section id="innerHeadSliderSec">
    <img src="/theme-assets/front/images/elementHead1.png" alt="element" class="element1 hang">
    <img src="/theme-assets/front/images/elementHead02.png" alt="element" class="element2 hang">
    <img src="/theme-assets/front/images/elementHead2.png" alt="element" class="element3 hang">
    <img src="/theme-assets/front/images/elementHead4.png" alt="element" class="element4 hang">
    <img src="/theme-assets/front/images/elementHead5.png" alt="element" class="element5 hang">
    <div class="innerHeadSliderSecinner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <div class="innerHeadCnt">
                        <h1>Pricing Plan</h1>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="<%= process.env.APP_URL %>/">Home</a></li>
                                  <li class="breadcrumb-item active" aria-current="page">Price Plan </li>
                                </ol>
                              </nav>
                    </div>
                </div>
                <!-- col-md-6 -->

                <div class="col-md-6 align-self-center text-center">
<div class="innerHeadImg">
    <img src="/theme-assets/front/images/pricePlanHeadImg.png" alt="Price Plan">
</div>
                </div>
                <!-- col-md-6 -->
            </div>
        </div>
    </div>
</section>
    <!-- inner-headerSlider-end -->

<!-- price-plan-section-start -->
<section id="pricePlanSec">
    <img src="/theme-assets/front/images/elementHead02.png" alt="element" class="element1 hang">
<div class="pricePlanSecinner">
    <div class="container">
        <hgroup class="lightW">
            <h2>
                Get employee monitoring and time tracking software at the best price!
            </h2>
            <p>All features in one price, no hidden charges</p>
        </hgroup>
        <div class="row g-0">
            <div class="col-md-3">
<div class="pricePBx">
<div class="pricePBXHeadFeild">
    <div class="priceBxHead">
        <h4>Powerfull<br>
            Features<br>
            Plan</h4>
    </div>

    <ul class="list-unstyled">
   <li>     Time Tracking</li>
   <li>Automated Attendance</li>
    <li>Productivity Measurements</li>
        <li>BI reports</li>
            <li>Engagement Tracking</li>
                <li>Automated Screenshots</li>
                    <li>Project Management</li>
                        <li>Presence (Attendance Pattern)</li>
                            <li>Jots (Notes)</li>
                                <li>Kanban Task Management</li>
                                    <li>Quick User Import</li>
                                        <li>Leave Management</li>
                                            <li>Dedicated Account Manager</li>
                                                <li>Live Product Training</li>
                                                    <li>User Logs</li>
                                                        <li>24x7 Technical Support</li>
                                                            <li>Cross Platform</li>
    </ul>
</div>
</div>
<!-- pricePBx -->
            </div>
            <!-- col-md-3 -->

<div class="col-md-9">
<div class="priceBxDataFeildmn">
    <div class="priceBxDataFeildinnermn">
        <div class="row g-0">
<div class="col">
<div class="priceBxDataFeild">
    <div class="priceBxDataHead">
        <h6>Monthly</h6>
        <h3> <sup><i class="fas fa-rupee-sign"></i></sup> 249 <sub> /mo</sub></h3>
    </div>
    <!--  -->
<ul class="list-unstyled">
    <li><span class="flaticon-checked
        "></span></li>

        <li><span class="flaticon-checked
            "></span></li>
            <li><span class="flaticon-checked
                "></span></li>
                <li><span class="flaticon-checked
                    "></span></li>
                    <li><span class="flaticon-checked
                        "></span></li>
                        <li><span class="flaticon-checked
                            "></span></li>
                            <li><span class="flaticon-checked
                                "></span></li>
                                <li><span class="flaticon-checked
                                    "></span></li>
                                    <li><span class="flaticon-checked
                                        "></span></li>
                                        <li><span class="flaticon-checked
                                            "></span></li>
                                            <li><span class="flaticon-checked
                                                "></span></li>
                                                <li><span class="flaticon-checked
                                                    "></span></li>
                                                    <li><span class="flaticon-checked
                                                        "></span></li>
                                                        <li><span class="flaticon-checked
                                                            "></span></li>
                                                            <li><span class="flaticon-checked
                                                                "></span></li>
                                                                <li><span class="flaticon-checked
                                                                    "></span></li>
                                                                    <li><span class="flaticon-checked
                                                                        "></span></li>
</ul>
<div class="text-center">
    <a href="javascript:void(0);" class="site_btn2"> <span>Order Now</span></a>
</div>
</div>
</div>
<!-- col -->


<div class="col">
    <div class="priceBxDataFeild">
        <div class="priceBxDataHead priceBxDataHead2">
            <h6>Quarterly
            </h6>
            <h3> <sup><i class="fas fa-rupee-sign"></i></sup> 222 <sub> /mo</sub></h3>
        </div>
        <!--  -->
    <ul class="list-unstyled">
        <li><span class="flaticon-checked
            "></span></li>
    
            <li><span class="flaticon-checked
                "></span></li>
                <li><span class="flaticon-checked
                    "></span></li>
                    <li><span class="flaticon-checked
                        "></span></li>
                        <li><span class="flaticon-checked
                            "></span></li>
                            <li><span class="flaticon-checked
                                "></span></li>
                                <li><span class="flaticon-checked
                                    "></span></li>
                                    <li><span class="flaticon-checked
                                        "></span></li>
                                        <li><span class="flaticon-checked
                                            "></span></li>
                                            <li><span class="flaticon-checked
                                                "></span></li>
                                                <li><span class="flaticon-checked
                                                    "></span></li>
                                                    <li><span class="flaticon-checked
                                                        "></span></li>
                                                        <li><span class="flaticon-checked
                                                            "></span></li>
                                                            <li><span class="flaticon-checked
                                                                "></span></li>
                                                                <li><span class="flaticon-checked
                                                                    "></span></li>
                                                                    <li><span class="flaticon-checked
                                                                        "></span></li>
                                                                        <li><span class="flaticon-checked
                                                                            "></span></li>
    </ul>
    <div class="text-center">
        <a href="javascript:void(0);" class="site_btn2"> <span>Order Now</span></a>
    </div>
    </div>
    </div>
    <!-- col -->


    <div class="col">
        <div class="priceBxDataFeild">
            <div class="priceBxDataHead priceBxDataHead3">
                <h6>Half Yearly
                </h6>
                <h3> <sup><i class="fas fa-rupee-sign"></i></sup> 200 <sub> /mo</sub></h3>
            </div>
            <!--  -->
        <ul class="list-unstyled">
            <li><span class="flaticon-checked
                "></span></li>
        
                <li><span class="flaticon-checked
                    "></span></li>
                    <li><span class="flaticon-checked
                        "></span></li>
                        <li><span class="flaticon-checked
                            "></span></li>
                            <li><span class="flaticon-checked
                                "></span></li>
                                <li><span class="flaticon-checked
                                    "></span></li>
                                    <li><span class="flaticon-checked
                                        "></span></li>
                                        <li><span class="flaticon-checked
                                            "></span></li>
                                            <li><span class="flaticon-checked
                                                "></span></li>
                                                <li><span class="flaticon-checked
                                                    "></span></li>
                                                    <li><span class="flaticon-checked
                                                        "></span></li>
                                                        <li><span class="flaticon-checked
                                                            "></span></li>
                                                            <li><span class="flaticon-checked
                                                                "></span></li>
                                                                <li><span class="flaticon-checked
                                                                    "></span></li>
                                                                    <li><span class="flaticon-checked
                                                                        "></span></li>
                                                                        <li><span class="flaticon-checked
                                                                            "></span></li>
                                                                            <li><span class="flaticon-checked
                                                                                "></span></li>
        </ul>
        <div class="text-center">
            <a href="javascript:void(0);" class="site_btn2"> <span>Order Now</span></a>
        </div>
        </div>
        </div>
        <!-- col -->


        <div class="col">
            <div class="priceBxDataFeild">
                <div class="priceBxDataHead priceBxDataHead4">
                    <h6>Yearly
                    </h6>
                    <h3> <sup><i class="fas fa-rupee-sign"></i></sup> 185 <sub> /mo</sub></h3>
                </div>
                <!--  -->
            <ul class="list-unstyled">
                <li><span class="flaticon-checked
                    "></span></li>
            
                    <li><span class="flaticon-checked
                        "></span></li>
                        <li><span class="flaticon-checked
                            "></span></li>
                            <li><span class="flaticon-checked
                                "></span></li>
                                <li><span class="flaticon-checked
                                    "></span></li>
                                    <li><span class="flaticon-checked
                                        "></span></li>
                                        <li><span class="flaticon-checked
                                            "></span></li>
                                            <li><span class="flaticon-checked
                                                "></span></li>
                                                <li><span class="flaticon-checked
                                                    "></span></li>
                                                    <li><span class="flaticon-checked
                                                        "></span></li>
                                                        <li><span class="flaticon-checked
                                                            "></span></li>
                                                            <li><span class="flaticon-checked
                                                                "></span></li>
                                                                <li><span class="flaticon-checked
                                                                    "></span></li>
                                                                    <li><span class="flaticon-checked
                                                                        "></span></li>
                                                                        <li><span class="flaticon-checked
                                                                            "></span></li>
                                                                            <li><span class="flaticon-checked
                                                                                "></span></li>
                                                                                <li><span class="flaticon-checked
                                                                                    "></span></li>
            </ul>
            <div class="text-center">
                <a href="javascript:void(0);" class="site_btn2"> <span>Order Now</span></a>
            </div>
            </div>
            </div>
            <!-- col -->
        </div>
        <!-- row -->
    </div>
</div>
</div>
<!-- col-md-9 -->

        </div>
    </div>
</div>
</section>
<!-- price-plan-section-end -->

    <section id="yourProductivitySec">
        <div class="yourProductivitySecinner">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <hgroup class="align-self-center">
                        <h3>Still Not Sure if My Project-Desk Is for You? </h3>
                        <p>Get 7 days free trial, test out all the features, then make your decision.</p>
                    </hgroup>
        
                    <div class="align-self-center">
                        <a href="<%= process.env.APP_URL %>/bookademo" class="site_btn">Request Demo</a>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
        </section>
    <!--  -->
    
    
    
    <!-- employee-features-section-start -->
    <section id="efeaturesSection">
        <div class="efeaturesSectioninner">
            <div class="container">
                <hgroup>
                    <h2>
                        Features Of Our Employee <br>
    Monitoring Software
                    </h2>
                </hgroup>
            <div class="row">
    
                <div class="col-md-4">
                    <div class="eFeaturesBx wow fadeInLeft">
                        <span class="flaticon-productivity posIcon
                        "></span>
    <div class="eFeatureImg">
        <span class="flaticon-productivity
        "></span>
    </div>
    <h4>Productivity Measurements</h4>
    <p>Analyze productivity, effectiveness and focus with insightful charts for individuals, teams and the entire organization. Myproject-Desk’s interesting graphics and detailed reports ...
    
    </p>
    <div>
        <a href="<%= process.env.APP_URL %>/measureemployeeproductivity">Read More <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="long-arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-long-arrow-right fa-w-14"><path fill="currentColor" d="M311.03 131.515l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L387.887 239H12c-6.627 0-12 5.373-12 12v10c0 6.627 5.373 12 12 12h375.887l-83.928 83.444c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l116.485-116c4.686-4.686 4.686-12.284 0-16.971L328 131.515c-4.686-4.687-12.284-4.687-16.97 0z" class=""></path></svg></a>
    </div>
                    </div>
                </div>
                <!-- col-md-4 -->
    
    
                
                <div class="col-md-4">
                    <div class="eFeaturesBx wow fadeInLeft">
                        <span class="flaticon-image
    
    
     posIcon
                        "></span>
    <div class="eFeatureImg">
        <span class="flaticon-image
    
    
    
        "></span>
    </div>
    <h4>Automated Screenshots</h4>
    <p>With the help of Myproject-Desk powerful Ai , High quality screenshots are captured at custom intervals which is a smart way to keep an eye on your employee’s activity...
    
    </p>
    <div>
        <a href="<%= process.env.APP_URL %>/automatedscreenshots">Read More <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="long-arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-long-arrow-right fa-w-14"><path fill="currentColor" d="M311.03 131.515l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L387.887 239H12c-6.627 0-12 5.373-12 12v10c0 6.627 5.373 12 12 12h375.887l-83.928 83.444c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l116.485-116c4.686-4.686 4.686-12.284 0-16.971L328 131.515c-4.686-4.687-12.284-4.687-16.97 0z" class=""></path></svg></a>
    </div>
                    </div>
                </div>
                <!-- col-md-4 -->
    
    
                
                <div class="col-md-4">
                    <div class="eFeaturesBx wow fadeInLeft">
                        <span class="flaticon-analytics posIcon
                        "></span>
    <div class="eFeatureImg">
        <span class="flaticon-analytics
        "></span>
    </div>
    <h4>Automated Attendance
    </h4>
    <p>With Myproject-Desk , allow your employees to punch in and our of your office easily with a single click. Notify Breaks and analyse their total productivity per day.
    
    
    
    
    
    </p>
    <div>
        <a href="<%= process.env.APP_URL %>/automatedattendence">Read More <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="long-arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-long-arrow-right fa-w-14"><path fill="currentColor" d="M311.03 131.515l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L387.887 239H12c-6.627 0-12 5.373-12 12v10c0 6.627 5.373 12 12 12h375.887l-83.928 83.444c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l116.485-116c4.686-4.686 4.686-12.284 0-16.971L328 131.515c-4.686-4.687-12.284-4.687-16.97 0z" class=""></path></svg></a>
    </div>
                    </div>
                </div>
                <!-- col-md-4 -->
    
    
                
                <div class="col-md-4">
                    <div class="eFeaturesBx wow fadeInLeft">
                        <span class="flaticon-tracking
     posIcon
                        "></span>
    <div class="eFeatureImg">
        <span class="flaticon-tracking
    
        "></span>
    </div>
    <h4>Project Tracking</h4>
    <p>Build to-dos, assign team members, and create your project budgets all with Myproject-Desk . Track project status and monitor and control...</p>
    <div>
        <a href="<%= process.env.APP_URL %>/projecttracking">Read More <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="long-arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-long-arrow-right fa-w-14"><path fill="currentColor" d="M311.03 131.515l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L387.887 239H12c-6.627 0-12 5.373-12 12v10c0 6.627 5.373 12 12 12h375.887l-83.928 83.444c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l116.485-116c4.686-4.686 4.686-12.284 0-16.971L328 131.515c-4.686-4.687-12.284-4.687-16.97 0z" class=""></path></svg></a>
    </div>
                    </div>
                </div>
                <!-- col-md-4 -->
    
    
                
                <div class="col-md-4">
                    <div class="eFeaturesBx wow fadeInLeft">
                        <span class="flaticon-dashboard
     posIcon
                        "></span>
    <div class="eFeatureImg">
        <span class="flaticon-dashboard
    
        "></span>
    </div>
    <h4>BI dashboard</h4>
    <p>A Business Intelligence Dashboard or BI Dashboard is a powerful reporting tool that simplifies visualization and analysis of complex data. With Myproject-Desk’s BI Dashboard...</p>
    <div>
        <a href="<%= process.env.APP_URL %>/engagementtracking">Read More <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="long-arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-long-arrow-right fa-w-14"><path fill="currentColor" d="M311.03 131.515l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L387.887 239H12c-6.627 0-12 5.373-12 12v10c0 6.627 5.373 12 12 12h375.887l-83.928 83.444c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l116.485-116c4.686-4.686 4.686-12.284 0-16.971L328 131.515c-4.686-4.687-12.284-4.687-16.97 0z" class=""></path></svg></a>
    </div>
                    </div>
                </div>
                <!-- col-md-4 -->
    
    
                
                <div class="col-md-4">
                    <div class="eFeaturesBx wow fadeInLeft">
                        <span class="flaticon-laptop
     posIcon
                        "></span>
    <div class="eFeatureImg">
        <span class="flaticon-laptop
    
        "></span>
    </div>
    <h4>Engagement Tracking</h4>
    <p>Myproject-Desk with the help of Ai can monitor every keystroke and mouse click your employee completes and can detect if the employee was idle or actually doing a productive work.
    
    </p>
    <div>
        <a href="<%= process.env.APP_URL %>/engagementtracking">Read More <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="long-arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-long-arrow-right fa-w-14"><path fill="currentColor" d="M311.03 131.515l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L387.887 239H12c-6.627 0-12 5.373-12 12v10c0 6.627 5.373 12 12 12h375.887l-83.928 83.444c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l116.485-116c4.686-4.686 4.686-12.284 0-16.971L328 131.515c-4.686-4.687-12.284-4.687-16.97 0z" class=""></path></svg></a>
    </div>
                    </div>
                </div>
                <!-- col-md-4 -->
    
    
    
            </div>
            <!--  -->
            <div class="text-center mt-4">
                <a href="javascript:void(0);" class="site_btn2"> <span> View All </span></a>
            </div>
            <!--  -->
        </div>
        </div>
    </section>
    <!-- employee-features-section-end -->
    
    
    
    <!-- testimonials-section-start -->
    
    <section id="our_verticlesec" class="bg-light">
        <div class="our_verticlesectop">
          <div class="container">
         <hgroup>
             <h2>What Our Clients Say ?</h2>
         </hgroup>
          </div>
        </div>
    
    
        <div class="our_verticlesecbottom">
          <div class="container">
            <div class="our_verticlesecbottominner">
              <div class="owl-carousel owl-theme owl-loaded our_verticlowl">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        <div class="owl-item">
                          <div class="verticle_bx">
                            <div class="verticle_bxinner">
                            <div class="text-center">
                              <img src="/theme-assets/front/images/testimonial_user.jpg">
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                         <h5>Maria Kloop</h5>
                         <h6>Developer</h6>
                          </div>
                        </div>
                      </div>
    
                      <div class="owl-item">
                        <div class="verticle_bx">
                          <div class="verticle_bxinner">
                          <div class="text-center">
                            <img src="/theme-assets/front/images/testimonial_user.jpg">
                          </div>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                       <h5>Maria Kloop</h5>
                       <h6>Developer</h6>
                        </div>
                      </div>
                    </div>
    
                    <div class="owl-item">
                      <div class="verticle_bx">
                        <div class="verticle_bxinner">
                        <div class="text-center">
                          <img src="/theme-assets/front/images/testimonial_user.jpg">
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                     <h5>Maria Kloop</h5>
                     <h6>Developer</h6>
                      </div>
                    </div>
                  </div>
    
                  <div class="owl-item">
                    <div class="verticle_bx">
                      <div class="verticle_bxinner">
                      <div class="text-center">
                        <img src="/theme-assets/front/images/testimonial_user.jpg">
                      </div>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                   <h5>Maria Kloop</h5>
                   <h6>Developer</h6>
                    </div>
                  </div>
                </div>
                        
                    </div>
                </div>
                </div>
            </div>
          </div>
        </div>
      </section>
    
    <!-- testimonials-section-end -->
    
    
    
    
    
    <!-- get-in-touch-section-start -->
    <section id="getInTouchSec">
        <div class="getInTouchSecinner">
            <div class="container">
                <hgroup>
                    <h2>
                        Get in Touch
                    </h2>
                    <p>Know How You Can Increase Employee Productivity with Myproject-Desk.
        
                    </p>
                </hgroup>
                <div class="row">
                    <div class="col-md-4">
                        <div class="getTouchBx wow fadeInUp">
        <div class="text-center">
            <span class="flaticon-location-1
        
            "></span>
        </div>
        <!--  -->
        <h4>Address</h4>
        <p>
            <a href="javascript:void(0);">A-3 Maal Road, Vidhyadhar Nagar, Jaipur</a>
        </p>
                          </div>
                    </div>
                    <!--  -->
        
        
                    <div class="col-md-4">
                        <div class="getTouchBx wow fadeInUp">
        <div class="text-center">
            <span class="flaticon-phone-call
        
            "></span>
        </div>
        <!--  -->
        <h4>Phone</h4>
        <p>
            <a href="tel:++91 9828732221">+91 9828732221</a>
        </p>
        
        
                        </div>
                    </div>
                    <!--  -->
        
                    <div class="col-md-4">
                        <div class="getTouchBx wow fadeInUp">
        <div class="text-center">
            <span class="flaticon-email
        
            "></span>
        </div>
        <!--  -->
        <p>
            <a href="mailto:sales@doomshell.com">sales@doomshell.com</a>
        </p>
        
        <p>
            <a href="mailto:contact@doomshell.com">contact@doomshell.com</a>
        </p>
                        </div>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
        
        <!-- form -->
        
        <div class="sendYourMessageSec">
            <div class="sendYourMessageSecinner">
                <hgroup>
                    <h2>Send Your Message</h2>
                </hgroup>
        
                <form action="">
                    <div class="row">
                        <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput1" placeholder="Your Name">
                        <label for="floatingInput1">Your Name</label>
                      </div>
                    </div>
                    <!--  -->
        
                    <div class="col-md-6">
                      <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput2" placeholder="Email Address">
                        <label for="floatingInput2">Email Address</label>
                      </div>
                    </div>
                    <!--  -->
        
        
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput3" placeholder="Your Subject">
                            <label for="floatingInput3">Your Subject</label>
                          </div>
                        </div>
                        <!--  -->
            
                        <div class="col-md-6">
                          <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInput4" placeholder="Your Phone">
                            <label for="floatingInput4">Your Phone</label>
                          </div>
                        </div>
                        <!--  -->
        
                        <div class="col-md-12">
                            <div class="form-floating">
                              <textarea class="form-control" id="floatingInput5" placeholder="Write Message"></textarea>
                              <label for="floatingInput5">Write Message</label>
                            </div>
                          </div>
                          <!--  -->
                        
                    </div>
                    <!--  -->
                    <div class="text-center mt-3">
                        <button type="submit" class="site_btn2 border-0">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
        
        </section>
        <!-- get-in-touch-section-end -->
             
        <%- include('../partials/front/footer'); %>